{% extends "window.html" %}
{% block heading %}
Equipment Requisition Detail
{% endblock heading %}

{% block content %}
<br>
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card shadow ">
                <div class="card-body">
                    <h4 class="card-title"># {{object.pk|stringformat:"06d"}}</h4>
                    <p>Requested:{{object.date}}</p>
                    <p>Returned:{% if object.returned_date %} 
                        {{object.returned_date}} 
                        {% else %} 
                            Pending 
                        {% endif %}</p>
                    <p>Warehouse: {{object.warehouse}}</p>
                    <p>Department: {{object.department}}</p>
                    <p>Reference: {{object.reference}}</p>
                    <hr>
                    <h5 style='opacity:0.7'>Personnel chain</h5>
                    <ul>
                        <li>Requested: {{object.requested_by}}</li>
                    <li>Authorized: {{object.authorized_by}}</li>
                    <li>Released: {{object.released_by}}</li>
                    <li>Received By: {{object.received_by}}</li>
                    </ul>
                    
                    

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>Equipment</th>
                    <th>Requested Quantity</th>
                    <th>Returned Quantity</th>
                    <th>Requested Condition</th>
                    <th>Returned Condition</th>
                </tr>
            </thead>
            <tbody>
                {% for line in object.equipmentrequisitionline_set.all %}
                    <tr>
                        <td>{{line.equipment}}</td>
                        <td>{{line.quantity}}</td>
                        <td>{{line.quantity_returned}}</td>
                        <td>{{line.requesting_condition}}</td>
                        <td>{{line.returned_condition}}</td>    
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</form>

{% endblock %}