{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr class="info">
    <td>ID</td>
    <td class='mobile' >Reference</td>
    <td >Date</td>
    <td >Requested By</td>
    <td >Actions</td>
</tr>
{% endblock %} {% block list_content %} 
{% for req in object_list %}
<tr>
    <td>{{req.pk}}</td>
    <td  class='mobile'>{{req.reference}}</td>
    <td>{{req.date}}</td>
    <td>{{req.requested_by}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'inventory:equipment-requisition-auth-view' pk=req.pk %}">
                        <i class="fas fa-file-alt"></i> Authorize/Release
                    </a>

                <a class="dropdown-item" href="{% url 'inventory:equipment-requisition-detail' pk=req.pk %}">
                        <i class="fas fa-file-alt"></i> Details
                    </a>

                <a class="dropdown-item" href="{% url 'inventory:equipment-return' pk=req.pk %}">
                        <i class="fas fa-reply"></i> Process Returns
                    </a>
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}