{% extends "window.html" %}
{% block heading %}

Leave Request
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'employees:leave-authorization' pk=object.pk %}" role="button"> <i class="fas fa-signature    "></i>  Authorize</a>
{% endblock actions %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <div class="col-12">
        <div class="card shadow accent-left-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">{{object.employee}}</h4>
                        <p class="card-text"><span class="less">Start Date:</span> <span class="focus-text">{{object.start_date}}</span></p>
                        <p class="card-text"><span class="less">End Date:</span> <span class="focus-text">{{object.end_date}}</span></p>
                        <p class="card-text"><span class="focus-text">{{object.duration}}</span> <span class="less">days</span></p>
                        <p class="card-text"><span class="less">Leave Category:</span> <span class="focus-text">{{object.category_string}}</span></p>
                        <p class="card-text"><span class="less">Status:</span> <span class="focus-text">{{object.status_string}}</span></p>
                        {% if object.status != 0 %}
                        <p class="card-text">Authorized By: {{object.authorized_by}}</p>
                        {% endif %}
                    </div>
                    <div class="col-6 accent-left-md">
                        <h4 class="card-title">Notes</h4>
                        <p class="card-text">{{object.notes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

</div>
{% endblock content %}