{% extends "window.html" %}
{% block heading %}
<i class="fas fa-handshake    "></i> CRM Dashboard

{% endblock heading %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class='navbar-nav dashboard-nav'>
                    <li class="nav-item">
                        <i class="fas fa-road    "></i> Leads
                    </li>
                    <li class="list-group-item hvr-grow"><a class="card-link"
                            href="{% url 'invoicing:create-lead' %}">Create Lead</a></li>
                    <li class="list-group-item hvr-grow"><a class="card-link"
                            href="{% url 'invoicing:list-leads' %}">Manage Leads</a></li>
                    <li class="nav-item">
                        <i class="fas fa-clipboard-check    "></i> Tasks and Contacts
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a class="card-link" href="{% url 'invoicing:list-tasks' %}">
                            My Tasks
                        </a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a class="card-link" href="{% url 'invoicing:list-contacts' %}">
                            Manage Contacts
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <i class="fas fa-users    "></i> Customers
                    </li>
                    <li class="list-group-item hvr-grow"><a class="card-link" href="{% url 'invoicing:customers-list' %}">Manage Customers</a></li>
                    
                    <li class="nav-item">
                        <i class="fas fa-sliders-h"></i> Configuration
                    </li>
                    <li class="list-group-item hvr-grow"><a class="card-link"
                            href="{% url 'invoicing:list-lead-sources' %}">Manage Lead Sources</a></li>
                    <li class="list-group-item hvr-grow"><a class="card-link"
                            href="{% url 'invoicing:list-interaction-types' %}">Manage Interaction Types</a></li>
                    <li class="list-group-item hvr-grow"><a class="card-link"
                            href="{% url 'invoicing:list-sales-teams' %}">Manage Sales Teams</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 col-sm-12">
            <iframe  class='dash-frame' src="/invoicing/crm-async-dashboard/" frameborder="0"></iframe>
        </div>
    </div>
</div>

{% endblock %}