{% extends 'common_data/list_template.html' %}

{% block list_headings %}
<tr>
    <th>Name</th>
    <th>Members</th>
    <th>Description</th>
    <th>Actions</th>
</tr>
{% endblock  %}



{% block list_content %}
    {% for team in object_list %}
        <tr>
            <td>{{team}}</td>
            <td>{{team.members.all.count}}</td>
            <td>{{team.description|truncatechars:50}}</td>
            <td><div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                            Actions
                        </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    
                    <a class="dropdown-item" href=" {% url 'invoicing:update-sales-team' pk=team.pk %} "> <i class="fas fa-edit    "></i> Update</a>
                </div>
            </div></td>
        </tr>
    {% endfor %}

{% endblock list_content %}
