{% extends "window.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} 
{% block heading %}
{% if icon %} <i class="fas fa-{{icon}}"></i> {% else %} <i class="fas fa-edit"></i> {% endif %} {{title}}
{% endblock heading %}
{% block actions %}
{% for item in related_links %}
    <a class="dropdown-item"  onclick="linkClickHandler('{{item.url}}')" target="popup">{{item.name}}</a>
{% endfor %}   
{% endblock actions %}

{% block content %}
<style>
form li {
    list-style-type: none;
}
</style>
<input type="hidden" id="box-array" value="{{box_array}}">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% block other %}{% endblock %}
            {{form.errors}}
        </div>
        <div class="col-sm-6">
            <div class="shadow card ">
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-sm">
                            {{form.as_p}}
                        </table>
                        <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

</div>


{% endblock %}