{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Edit Team 
{% endblock heading %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Team Details Form</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        <h4>Team Members</h4>
        <div id="personnel-list"></div></div>
    </div>
</div>
{% render_bundle "services" %}
{% endblock content %}
