*.sqlite3
*.pyc
/assets/node_modules/
/assets/electron/
htmlcov/
env/
media/chat/*.*
media/logo/*.*
media/messaging/*.*
media/*.*
media/temp/*.*
wkhtmltopdf/
build/app/*/
database/*.sqlite3
database/*.zip
build/build/
build/dist/
!build/app/server/
global_config.json
license.json
common_data/static/rest_framework/
common_data/static/*.js
common_data/static/admin/
*.gz
.vscode/
*.log
*.spec
*.c
build_counter.json
*/settings.json
*.code-workspace
/database/config.json
database/gui/
*.dump
service_config.json
latrom/settings/.env
key.txt