asn1crypto==0.24.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
coverage==4.5.1
Django==2.2.13
django-appconf==1.0.3
django-autocomplete-light==3.4.1
django-background-tasks==1.2.0
django-compat==1.0.15
django-crispy-forms==1.7.2
django-dbbackup==3.2.0
django-filter==2.0.0
django-formtools==2.1
django-picklefield==2.0
django-reversion==3.0.2
django-select2==7.1.1
django-webpack-loader==0.6.0
django-wkhtmltopdf==3.2.0
djangorestframework==3.10.2
draftjs-exporter==2.1.5
et-xmlfile==1.0.1
idna==2.8
ipaddress==1.0.22
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10.1
mail-parser==3.9.3
MarkupSafe==1.1.1
openpyxl==2.6.3
parse==1.12.1
parso==0.5.1
Pillow==7.0.0
pycparser==2.19
pygal==2.4.0
python-coveralls==2.9.3
python-dateutil==2.7.5
pytz==2019.2
PyYAML==5.3.1
requests==2.21.0
responses==0.10.6
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
urllib3==1.24.3
waitress==1.4.3
whitenoise==4.1.2
