{% extends "window.html" %}
{% block heading %}
Create Inventory Check

{% endblock heading %}
{% block content %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                        {% crispy form %}
                    <div id="inventory-checker"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle "inventory" %}
{% endblock content %}