{% extends "common_data/list_template.html" %} 
{% block actions %}
<a href="{% url 'inventory:create-inventory-check' pk=warehouse.pk %}" class="dropdown-item">
<i class="fas fa-clipboard-check    "></i> Create Inventory Check</a>

{% endblock actions %}
{% block list_headings %}
<tr>
    <td class="info">Date</td>
    <td class="info mobile">Supervisor</td>
    <td class="info"># of Adjustments</td>
    
</tr>
{% endblock %} {% block list_content %} 
{% for check in object_list %}
<tr>
    <td>{{check.date}}</td>
    <td  class='mobile'>{{check.adjusted_by}}</td>
    <td>{{check.adjustments.count}}</td>
    <td>
        <a  href="{% url 'inventory:inventory-check-summary' pk=check.pk %}">
            <i class="fas fa-file-alt fa-2x   "></i>
        </a>
    </td>
</tr>
{% endfor %} {% endblock %}