#item-table thead td{
    padding: 10px;
    color: white;
    background-color: #222;
    border-right: 1px solid white;
}

#item-table tbody{
    border: 1px solid #999;
    
}

#item-table{
    min-height: 500px;
    border: 1px solid #999;
}

#item-table tbody td{
    border-right: 1px solid #999;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

th.bordered, td.bordered {
    border: 1px solid #999
}

.align-center {
    text-align: center;
}

.simple-content thead td,.simple-content thead th {
    font-size: 1rem;
    padding: 0.25rem;
    border-right: 1px solid white;
    border-bottom: 0.25rem solid #333;
    font-weight: 700;
}


.simple-content tbody td {
    font-size: 0.875rem;
    border-bottom: 1.5px solid #999;
    padding: 0.25rem;

}

/* .simple-content tbody{
    border: 2px solid #999;
} */

.simple-content tfoot td {
    text-align: right;
}

.simple-head-cell {
    padding: 10px; 
    
}

.footer-cell {
    border: 1px solid #999;
    min-height: 150px;
}

.footer-cell-heading{
    color: white;
    background-color: #222;
    padding: 2px 5px;
}

.footer-cell-contents{
    padding: 2px 5px;
}

.custom-page {
    width: 100%;
    height: 100%;
}

.page-container-iframe {
    height: 100%                 !important;
    border: 0px                  !important;
    box-shadow: 0px 0px 0px #fff !important;
}

.page-container-iframe > div {
    overflow-y: visible !important;
}

.page-container {
    margin: 30px auto;
    padding: 0.5in;
    width: 21cm;
    height: 29.7cm;
    box-shadow: 5px 5px 20px #ccc;
    background-color: white;
}

.table-frame {
    padding: 2cm;
    box-shadow: 5px 5px 20px #ccc;
}

.print-page-container {
    padding-left: 0.5in;
    padding-right: 0.5in;
    width: 20cm !important;
    height: 29.7cm !important;
    background-color: white;
    margin: 0;
}

.page-container .eop{
    margin-bottom: 10cm;
}

.eop {
    page-break-before: always;
}

#page-layout {
    width: 100%;
    /* height: 100%; */
}

#title {
    text-align: center;
}

#scroll-frame {
    height: 100vh !important;
    overflow-y: scroll;
}

.no-break {
    page-break-inside: avoid;
    /* page-break-before: always;
    page-break-after: always; */
    max-height: 500px;
    height: 500px;
    margin-bottom:5mm;
}

.my-modal{
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(30,30,30,0.7);
}

.my-modal-content {
    width: 400px;
    padding: 30px;
    margin: 30px auto;
    background-color: white;
}