.primary {
    background-color: #23374d;
    color: #eee;
} 

.hover-primary:hover {
    background-color: #23374d;
    color: #eee;
}

.secondary {
    background-color: #1089ff;
    color: #eee;
}
Fertiary {
    background-color: #e5e5e5;
}
.qaurternary {
    background-color: #eeeeee;
}


.ui-nav {
    width: 200px;
    min-height: 80vh;
}
.ui-window {
    display: flex;
    flex-direction: row;
}
.bg-primary th {
    color:#EEE;
}

.bg-primary td {
    color:#EEE;
}

input[type="checkbox"] {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    width: 30px;
    height: 30px;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: #99a1a7;
}

input:required, textarea:required, select:required {
    background-color: #b0e0e6
}


.dash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dashbox {
    margin: 10px;
    padding: 10px;
    width: 30%;
    max-width:300px;
    min-height: 200px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #ccc;
    color: #23374d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.dashbox h3 {
    font-weight: 500;
    font-size:3rem;
}

.dashbox h4 {
    font-weight: 200
}

.white-on-blue {
    background-color: #EEE;
    border: 1px solid #1089ff;
    color: #1089ff;
}

.entry-style td{
    padding: 0px;
    border: 0px;
}

.entry-style thead th{
    padding: 0px;
    border: 0px;
}
.entry-style input[type="number"]{
    padding: 2px;
    width: 100%
}
.entry-style select{
    padding: 3px;
}
#product-widget, #service-widget, #expense-widget{
    margin: 0px;
}

#product-widget-text-box, #service-widget-text-box, #expense-widget-text-box {
    padding: 1px;
    background-color: #EEE;
}
.entry-style select{
    width: 100%;
}

.invoice-btn {
    width: 100%;
    padding: 3px;
    background-color: #1089ff;
    color: #EEE;
    border: 1px solid #EEE;
}

.shadow {
    padding: 20px ;
    box-shadow: 5px 10px 15px #ccc;
}

nav .nav-link:hover{
    color: #eee;
    background-color: #1089ff;
}

nav .nav-link{
    color: #eee;
}

li.active .nav-link{
    color: #eee;
    background-color: #1089ff;
}

.jumbo-gradient{
    background: rgb(176,224,230);
background: linear-gradient(90deg, rgba(176,224,230,1) 0%, rgba(0,123,255,1) 100%, rgba(0,0,0,1) 100%);
}

.jumbo-gradient-reverse{
    background: rgb(0,123,255);
background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(176,224,230,1) 100%);
}

.list-group-item:hover {
    border-left: 3px solid #1089ff;
}

.list-group-item a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}
/* Replaces the bootstrap default */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: #e9ecef;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: padding 0.1s;
}

.shrink {
    padding: 0.3rem 2rem;
}

.shrink p {
    display: none;
    transition: display 0.4s;
}

.shrink a {
    display: none;
    transition: display 0.4s;

}

.shrink .shrink-invisible {
    display: none;
    transition: display 0.4s;

}


.shrink hr {
    display: none;
    transition: display 0.4s;
}

.shrink i {
    display: none;
}

.shrink h1{
    font-size: 2rem;
    font-weight: normal;
}

.card-title {
    font-weight: 250;
}

.eop {
    page-break-before: always;
}

table {
    page-break-inside: auto;
}

table tr{
    page-break-inside: avoid;
    page-break-after: auto;
}

.floating-submit {
    position:fixed;
    width:100%;
    padding: 10px 50px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: #EEE;
}

.floating-submit button {
    float: right;
}

.floating-submit input {
    float: right;
}

.django-select2 {
    width: 100%;
    min-width: 14rem;;
}

.notification-button{
    color: #EEE;
    font-size: 1.5rem;
    text-align: center;
    background-color: #1089ff;
    border-radius: 15px;
    width:45px;
    float:right;
    display: none;
}

.ui-datepicker {
    z-index: 12000  !important;
}

.dropdown-item:hover {
    color: #EEE;
    background-color: #1089ff;
}




/* Umisoft */

body {
    background-color: #eee;
}

main {
    display: flex;
    flex-direction: row;
}

#nav {
    flex: 1;
    padding: 5px;
    min-height: 100vh;
    background-color: #23374d;
}

#window {
    flex: 6;
}

section#title {
    width: 100%;
    height: 10vh;
    background-color: #23374d;
    color: #eee;
    position: sticky;
    top:0;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 999;
    display:flex;
    flex-direction: row;
}
#title-text {
    flex: 20;
}

#action-icon, #notifications-icon{
    flex: 1;
    text-align: center;
    padding: 2px;
}

#content {
    min-height: 80vh;
    padding-bottom: 30px;
    padding-top: 3px;
}

#footer {
    height: 10vh;
    background-color: #23374d;
    z-index: 999;
}

/* forms */

.action-link {
    color: #23374d !important;
    display:block !important;
}

.action-link:hover {
    color: #1089ff !important;
    text-decoration: underline !important;
    display:block !important;
}

.dashboard-nav {
    max-height: 88vh;
    overflow-y: auto;

}

.dashboard-nav::-webkit-scrollbar {
    display: none;
 }

.dashboard-nav > .nav-item {
    font-size: 1.5rem;
    font-weight: 200;
}
.dash-frame {
    width: 100%;
    height: 90vh;
}


.dash-visualization {
    max-height: 300px;
}

.dash-visualization h4 {
    color: #eee;
    background-color: #23374d;
    padding: 5px;
}

.dash-icon {
    color: #23374d;
    opacity: 0.2;
    z-index: -1;
    transform: rotateZ(-20deg);
    position: absolute;
    bottom: 20px;
    right: 50px;
}


.notifications {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.notification-window {
    width: 40%;
    height: 100%;
    position: absolute;
    right: -40vw;
    top: 0px;
    padding: 5px;
    background-color: #23374d;
    transition: right 2.5s linear;
}

.visible-notification-window {
    right: 0px;
}

.notification-window h4{
    color:#23374d;;
    background-color: #1089ff;
    padding: 10px;

}

.report-frame {
    width: 100%;
    height: 80vh;
}

.nav-tabs a.nav-link {
    color: #aaa
}

.nav-tabs a.nav-link.active {
    border-top: 3px solid #23374d;
}

.nav-tabs a.nav-link:hover {
    background-color: #23374d;
    color: white
}

.sub-frame {
    width: 100%;
    min-height: 500px;
}