:root {
    --primary: #23374d;
    --secondary: #1089ff;
    --tertiary: #e5e5e5;
    --quarternary: #eeeeee;
}

body {
    overflow-y:hidden;
}

body.framed {
    overflow-y:auto;
}

body.framed::-webkit-scrollbar{
    width: 5px;
    background-color: var(--tertiary);
    opacity: 0;
 }

.table-sm td >a {
    display: block;
    background-color: var(--primary);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}



.white {
    background-color: white;
}
.primary {
    background-color: var(--primary);
    color: var(--quarternary);
} 

.hover-primary:hover {
    background-color: var(--primary);
    color: var(--quarternary);
}

.secondary {
    background-color: var(--secondary);
    color: var(--quarternary);
}
.tertiary {
    background-color: var(--tertiary);
}
.qaurternary {
    background-color: var(--quarternary);
}


.ui-nav {
    width: 200px;
    min-height: 80vh;
}
.ui-window {
    display: flex;
    flex-direction: row;
}
.bg-primary th {
    color:var(--quarternary);
}

.bg-primary td {
    color:var(--quarternary);
}

input[type="checkbox"] {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    width: 30px;
    height: 30px;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: #99a1a7;
}

input:required, textarea:required, select:required {
    background-color: #b0e0e6
}


.dash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dashbox {
    margin: 10px;
    padding: 10px;
    width: 30%;
    max-width:300px;
    min-height: 200px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #ccc;
    color: var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.dashbox h3 {
    font-weight: 500;
    font-size:3rem;
}

.dashbox h4 {
    font-weight: 200
}

.report-nav {
    max-width: 250px;
    height: 100vh;
    background-color: var(--primary);
}

.white-on-blue {
    background-color:var(--quarternary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.entry-style td{
    padding: 0px;
    border: 0px;
}

.entry-style thead th{
    padding: 0px;
    border: 0px;
}
.entry-style input[type="number"]{
    padding: 2px;
    width: 100%
}
.entry-style select{
    padding: 3px;
}
#product-widget, #service-widget, #expense-widget{
    margin: 0px;
}

#product-widget-text-box, #service-widget-text-box, #expense-widget-text-box {
    background-color: var(--quarternary);
}
.entry-style select{
    width: 100%;
}

.invoice-btn {
    width: 100%;
    padding: 3px;
    background-color: var(--secondary);
    color: var(--quarternary);
    border: 1px solid var(--quarternary);
}

.shadow {
    padding: 20px ;
    box-shadow: 0px 5px 30px #ddd,
                0px 2px 5px #bbb;
}

.accent {
    border-top: 3px solid var(--primary);
}

.accent-md {
    border-top: 6px solid var(--primary);
}

.accent-lg {
    border-top: 9px solid var(--primary);
}

.accent-left-md {
    border-left: 6px solid var(--primary);
}

.accent-left-lg {
    border-left: 9px solid var(--primary);
}

.tertiary-link {
    color: var(--primary);
    font-weight: 500;
    text-decoration: underline;
}

.sec-ico {
    opacity: 0.7;
}

.tertiary-link:hover {
    text-decoration: none;
    
}

.flex-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .nav-link:hover{
    color: var(--quarternary);
    background-color: var(--secondary);
}

nav .nav-link{
    color: var(--quarternary);
}
.nav-link .fas {
    opacity: 0.7;
    margin-right: 1rem;
    margin-left: 0.3rem;
    box-sizing: border-box;
}



li.active .nav-link{
    color: var(--quarternary);
    background-color: var(--secondary);
}


.list-group-item:hover {
    border-left: 3px solid var(--secondary);
}

.list-group-item a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}
/* Replaces the bootstrap default */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: #e9ecef;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: padding 0.1s;
}

.shrink {
    padding: 0.3rem 2rem;
}

.shrink p {
    display: none;
    transition: display 0.4s;
}

.shrink a {
    display: none;
    transition: display 0.4s;

}

.shrink .shrink-invisible {
    display: none;
    transition: display 0.4s;

}


.shrink hr {
    display: none;
    transition: display 0.4s;
}

.shrink i {
    display: none;
}

.shrink h1{
    font-size: 2rem;
    font-weight: normal;
}

.card-title {
    font-weight: 250;
}

.eop {
    page-break-before: always;
}

table {
    page-break-inside: auto;
}

table tr{
    page-break-inside: avoid;
    page-break-after: auto;
}

.floating-submit {
    position:fixed;
    width:100%;
    padding: 10px 50px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: var(--quarternary);
}

.floating-submit button {
    float: right;
}

.floating-submit input {
    float: right;
}

.django-select2 {
    width: 100%;
    min-width: 14rem;;
}

.notification-button{
    color: var(--quarternary);
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 15px;
    width:45px;
    float:right;
    display: none;
}

.ui-datepicker {
    z-index: 12000  !important;
}

.dropdown-item:hover {
    color: var(--quarternary);
    background-color: var(--secondary);
}




/* Umisoft */

body {
    background-color: var(--quarternary);
}

main {
    display: flex;
    flex-direction: row;
}

#nav {
    flex: 1;
    padding: 5px;
    height: 100vh;
    background-color: var(--primary);
}

#window {
    flex: 6;
    height: 100vh !important;
}

section#title {
    width: 100%;
    background-color: var(--primary);
    color: var(--quarternary);
    position: sticky;
    top:0;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 999;
    display:flex;
    flex-direction: row;
}

section#title button{
    height: 100% !important
}

#title-text .fas, .nav-item .fas{
    opacity: 0.7;
}

#title-text {
    flex: 20;
}

#action-icon, #notifications-icon{
    flex: 1;
    text-align: center;
    padding: 2px;
}

@media(max-height: 720px){
    #content{
        height: 80vh !important;
    }
    section#title{
        height: 10vh !important;
    }
    #footer{
        height: 10vh !important;
    }
}

@media(min-height: 721px){
    #content{
        height: 87.5vh !important;
    }

    section#title{
        height: 7.5vh !important;
    }
    #footer{
        height: 5vh !important;
    }
}

#content {
    padding-top: 3px;
    overflow-y:scroll;
}

#content::-webkit-scrollbar, .custom-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: var(--tertiary);
 }

#content::-webkit-scrollbar-thumb, .custom-scroll::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--secondary);
}


#content::-webkit-scrollbar-thumb:hover {
    width: 15px;
    background: var(--secondary);
}

#footer {
    background-color: var(--primary);
    z-index: 999;
}

.hero {
    width: 400px;
    margin: 20vh auto;
    background-color: var(--primary);
    color: white;
}

.logo {
    text-align:center;
}


.navbar-brand, .logo {
    color: var(--quarternary);
    margin: 0.5rem 0;
}

.navbar-brand:hover, .logo:hover {
    color: var(--quarternary);
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 0.25rem
}

.navbar-brand:hover::first-letter, .logo:hover::first-letter {
    padding-right: 0;
    background: transparent
}
.navbar-brand::first-letter, .logo::first-letter{
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 0.25rem;

}

/* forms */

.action-link {
    color: var(--primary) !important;
    display:block !important;
}

.action-link:hover {
    color: var(--secondary) !important;
    text-decoration: underline !important;
    display:block !important;
}

.dashboard-nav {
    max-height: 88vh;
    overflow-y: auto;

}

.dashboard-nav::-webkit-scrollbar {
    display: none;
 }

.dashboard-nav > .nav-item {
    font-size: 1.5rem;
}
.dash-frame {
    width: 100%;
    height: 90vh;
}


.dash-visualization {
    max-height: 300px;
}

.dash-visualization h4 {
    color: var(--quarternary);
    background-color: var(--primary);
    padding: 5px;
}

.dash-icon {
    color: var(--primary);
    opacity: 0.2;
    z-index: -1;
    transform: rotateZ(-20deg);
    position: absolute;
    bottom: 20px;
    right: 50px;
}


.notifications {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.notification-window {
    width: 40%;
    height: 100%;
    position: absolute;
    right: -40vw;
    top: 0px;
    padding: 5px;
    background-color: var(--primary);
    transition: right 2.5s linear;
}

.visible-notification-window {
    right: 0px;
}

.notification-window h4{
    color:white;;
    background-color: var(--secondary);
    padding: 10px;

}

.report-frame {
    width: 100%;
    height: 80vh;
}

.nav-tabs a.nav-link {
    color: #aaa
}

.nav-tabs a.nav-link.active {
    border-top: 3px solid var(--primary);
}

.nav-tabs a.nav-link:hover {
    background-color: var(--primary);
    color: white
}

.sub-frame {
    width: 100%;
    min-height: 500px;
}

.scroll-frame{
    overflow-y: scroll;
    height: 100vh !important;
}

table .form-control, table .search-widget {
    border-radius: 0px !important;
    margin: 5px 0px !important;
    box-sizing: border-box !important;
}


.search-widget button{
    margin: 0px !important;
}

.search-widget-text {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tight td {
    padding: 0px !important;
}

.tight th:last-child, .tight td:last-child {
    text-align: right;
}

.tight td:first-child {
    padding-left: 5px !important;
}

.tight button{
    margin: 5px;
}

span.important {
    font-size: 1.5rem;
    font-weight: 700;
}

span.less {
    font-size: 0.8rem;
    color: #888;
}

.focus-text {
    font-size: 1.5rem;
    font-weight: 700;
}

#mobile-nav {
    display: none;
}

.filter-overlay {
    display: block;
    position: static;
}

.filter-overlay-controls {
    display: none;
}

.filter-button {
    display: none;
}

.mobile {
    display: table-cell;
}

@media(max-width: 575px){
    .hero {
        width: 250px;
    }

    main {
        display:block;
    }

    section#title {
        position: sticky;
        height: fit-content!important;
    }

    #mobile-nav {
        display:block;
    }

    #nav {
        display: none;
        position: absolute;
        z-index: 10000;
        height: fit-content;
        width: 100%;
        left: 0px;
        top:60px;
    }
    #title-text {
        font-size: 1.5rem;
    }

    .dashbox {
        flex-direction: row;
        width: 100% !important;
        padding: 2px;
        height: auto!important;
        min-height: fit-content;
    }

    .dashbox h4 {
        margin-right: 2rem;
        margin-left: 0.75rem;
    }

    .dashbox i {
        display: none;
    }

    .notification-window {
        width: 80%;
    }

    .report-frame {
        height: 100vh;
        width: 100vw;
    }

    .report-nav {
        max-width: 100% !important;
        height: fit-content

    }
    .page-container {
        margin: 16px!important;
    }

    #scroll-frame {
        width: 100vw;
    }

    .filter-button {
        display: block;
        margin: 4px auto;
    }

    .filter-overlay {
        z-index: 10000;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        display: none;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .filter-overlay .shadow {
        box-shadow: 0px 0px 0px transparent;
    }

    .filter-overlay-controls {
        width: 90%;
        display: flex;
        margin: 4px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mobile {
        display: none;
    }

    .card {
        margin-top: 4px;
    }
}