{% extends 'window.html' %}
{% block actions %}
<a class="dropdown-item" href="{% url 'employees:department-update' pk=object.pk %}" role="button">Update</a>
{% endblock actions %}
{% block heading %}
Department Detail
{% endblock heading %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow accent-left-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{object.name}}</h4>
                            <p class="card-text"><span class="less"><i class="fas fa-hashtag    "></i> <i class="fas fa-users    "></i>
                                </span><span class='focus-text'>{{object.employees.all.count}}</span></p>
                            <p class="card-text"><span class="less">Manager:</span> <span class="focus-text">{{object.manager}}</span></p>
                            {% if object.parent_department %}
                            <p class="card-text"><span class="less">Parent Department:</span> <span class="focus-text">{{object.parent_department}}</span></p>
                            {% endif %}
                            {% if object.children.count > 0 %}

                            <p class="card-text"><b>Subdepartments:</b> </p>
                            <ul>
                                {% for i in object.children %}
                                <li>{{i}}</li>
                                {% endfor %}

                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-6 accent-left-md" >
                            <h5 class="card-title">Employees</h5>
                            <div class="card-text">
                                <ul>
                                    {% for i in object.employees.all %}
                                    <li><a href="{% url 'employees:employee-detail' pk=i.pk %}">{{i}}</a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}