{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Manage Departments
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href="{% url 'employees:department-create' %}" role="button">Create New</a>
{% endblock actions %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div id="department-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle "widgets" %}
{% endblock content %}