{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}">
{% endblock %}
{% block heading %}
Create Multiple Customers

{% endblock heading %}
{% block actions %}
 {% for item in related_links %}
        <a class="dropdown-item"  onclick="linkClickHandler('{{item.url}}')" target="popup">{{item.name}}</a>
    {% endfor %}
{% endblock actions %}

{% block content %}

<input type="hidden" id="box-array" value="{{box_array}}">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block other %}{% endblock %}
            {{form.errors}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow card ">
                <div class="card-body">
                       {% crispy form %}
                </div>
            </div>
        </div>
    </div>
    
</div><script>
            
    </script>

{% render_bundle "invoicing" %}
{% endblock %}