{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}">
{% endblock %}
{% block heading %}
{{title}}
{% endblock heading %}


{% block content %}




<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block other %}{% endblock %}
            {{form.errors}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow card ">
                <div class="card-body">
                       {% crispy form %}
                </div>
            </div>
        </div>
    </div>
    
</div><script>
            function dynamicFormRenderer(){
                var input = $("#id_id_vendor_type_0_1") //individual 
                if(input[0].checked){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
                
            }
            $(document).ready(dynamicFormRenderer);
            $("input[name='vendor_type']").on('change', function(evt){
                var value = evt.target.value;
                if(value === "individual"){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
            })
    </script>

{% endblock %}