{% extends "window.html" %}
{% load accounting %}

{% block heading %}
Vendor Details
{% endblock heading %}
{% block actions %}
<a href="{% url 'inventory:supplier-create' %}" class="dropdown-item">
                <i class="fas fa-plus"></i> Create Vendor
            </a>
            <a href="{% url 'inventory:supplier-update' pk=object.pk %}" class="dropdown-item">
                <i class="fas fa-file"></i> Update
            </a>
            <a class="dropdown-item" href="{% url 'inventory:supplier-delete'  pk=object.pk  %}">
                <i class="fas fa-trash"></i> Delete
            </a>
            <a class="dropdown-item" href="{% url 'inventory:order-create'  supplier=object.pk  %}">
                <i class="fas fa-receipt"></i> Make Purchase Order
            </a>
            <a class="dropdown-item" href="{% url 'accounting:direct-payment-supplier'  supplier=object.pk  %}">
                <i class="fas fa-money-check"></i> Make Payment To supplier
            </a>
{% endblock actions %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{object}}</h4>
                    <p class="card-text">Type: {% if object.is_organization %} Organization {% else %} Individual
                        {% endif %} </p>
                        <hr>
                    <p class="card-text"><i class="fa fa-at" aria-hidden="true"></i> <a href="{% url 'messaging:create-message' %}">{{object.email}}</a></p>
                    <p class="card-text"><i class="fa fa-home" aria-hidden="true"></i> {{object.address}}</p>
                    <h4 class="card-title">Account</h4>
                    <p class="card-text">
                    <a href="{% url 'accounting:account-detail' pk=object.account.pk %}"
                        class="tertiary-link">{{object.account}}</a></p>
                    <p class="card-text">{{object.account.balance | active_currency}}</p>
                </div>
            </div>
        </div>
        <div class='col-sm-12 col-md-8'>
            <div class="card" style='min-height:300px;'>
                <div class="card-body">
                    <nav class="nav nav-tabs nav-stacled">
                        <a href="#invoices" class="nav-link active" data-toggle="tab">Products</a>
                        <a href="#quotations" class="nav-link" data-toggle="tab">Consumables</a>
                        <a href="#credit-notes" class="nav-link" data-toggle="tab">Equipment</a>
                        <a href="#members" class="nav-link" data-toggle="tab">Memebers</a></li>
                    </nav>
                    <div class="tab-content panel-body">
                        <div id="invoices" class="tab-pane active">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Last Purchase Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in object.products %}
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td>{{p.unit_purchase_price}}</td>
                                        <td><a href="{% url 'inventory:product-detail' pk=p.pk %}"
                                                class="btn btn-primary">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="quotations" class="tab-pane">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Last Purchase Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in object.consumables %}
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td>{{p.unit_purchase_price}}</td>
                                        <td><a href="{% url 'inventory:consumable-detail' pk=p.pk %}"
                                                class="btn btn-primary">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="credit-notes" class="tab-pane">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Last Purchase Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in object.equipment %}
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td>{{p.unit_purchase_price}}</td>
                                        <td><a href="{% url 'inventory:equipment-detail' pk=p.pk %}"
                                                class="btn btn-primary">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="members" class="tab-pane">
                            
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in object.organization.members %}
                                    <tr>

                                        <td><a href="{% url 'base:individual-detail' pk=m.pk %}"
                                                >{{m.full_name}}</a></td>
                                        <td>{{m.phone}}</td>
                                        <td><a href="{% url 'messaging:create-message' %}">{{m.email}}</a></td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button
                                onclick="linkClickHandler('/inventory/supplier/add-member/{{object.organization.pk}}')"
                                target='popup' class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}