.container {
    display: flex;
    flex-direction: column;
}

.modalCard {
    width: 500px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 5px 15px #ccc
}

.modalCard h1, .modalCard p:first-child{
    text-align: center;
}

.checkoutActive {
    background-color: #1089ff;
    color:white
}