{% extends "common_data/iframe_list_template.html" %}
{% block list_headings %}
        <tr class="bg-primary">
            <th>Item</th>
            <th>Quantity</th>
            <th  class='mobile'>Min Quantity</th>
            <th  class='mobile'>Max Quantity </th>
            {% comment %} <th>Last Verified </th> {% endcomment %}
        </tr>
{% endblock %}
{% block list_content %}
        {% for i in object_list %}
            <tr>
            <td scope="row"><a target="_parent" href="{{i.item.url}}" style='text-decoration: none;'>{{i}}</a></td>
            <td style='color:white;background-color:{{i.quantity_color}};'>
                {{i.quantity}}</td>
            <td  class='mobile'>{{i.item.minimum_order_level}}</td>
            <td  class='mobile'>{{i.item.maximum_stock_level}}</td>
            {% comment %} <td style='color:white;background-color:{{i.check_color}};'>{{i.last_check_date}}</td> {% endcomment %}
        </tr>
        {% endfor %}
    
{% endblock %}
