{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Create Inventory Transfer

{% endblock heading %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                        {% crispy form %}    
                    <div id="transfer-items"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle 'inventory' %}
{% endblock %}