{% extends "window.html" %} 
{% block heading %}
Service Detail
{% endblock heading %}
{% load accounting %}

{% block actions %}
<a href="{% url 'services:create-service' %}" class="dropdown-item"><i class="fas fa-plus"></i>Create Service</a>
<a class="dropdown-item" href="{% url 'services:service-update' pk=object.pk %}"><i class="fas fa-edit"></i>Update</a>
{% endblock actions %}
{% block content %}
<br>
                
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h4 class="card-title">{{object.name}}</h4>
                    <p class="card-text"></p>
                    

                    <p class="card-text">{{object.flat_fee |active_currency}} Flat fee</p>
                    <p class="card-text">{{object.hourly_rate|active_currency}} /Hr</p>
                    <hr>
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% if object.procedure %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Procedure</h4>
                    <p class="card-text">Author: {{object.procedure.author}}</p>
                    <p class="card-text">Reference: {{object.procedure.reference}}</p>
                    <p class="card-text"><b>Description</b>:</p>
                    <p class="card-text">{{object.procedure.description}}</p>
                    <h4>Steps</h4>
                    <p class="card-text">
                        <ol>
                            {% for step in object.procedure.steps %}
                            <li>{{step}}</li>
                            {% endfor %}
                        </ol>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow accent">
                <h4 class="card-title">Work Orders</h4>
                <div class="card-body">
                <p>Work orders for this service</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow accent">
                <h4 class="card-title">Service People</h4>
                <div class="card-body">
                <p>Service personnel that have provided this service</p>
                
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow accent">
                <h4 class="card-title">Invoices</h4>
                <div class="card-body">
                    <p>{{object.invoices |length}} Invoices</p>
                    <p>{{object.revenue |active_currency}} In revenue</p>
                    <p>{{object.average_revenue |active_currency}} average revenue</p>
                    <ul>
                        {% for inv in object.invoices %}
                            <li style='list-style-type:none'>
                                <a class='tertiary-link' href="{% url 'invoicing:invoice-details' pk=inv.pk %}">
                                    <i class="fas fa-file-alt    "></i> {{inv}}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}