{% extends "base.html" %}

{% block window %}
<style>
.title {
    padding: 12px 24px;
}
</style>
<div class='title'>
    <h1 class="display-3" style="color:red;"><i class="fas fa-times"></i> Error!</h1>
    <p class="lead">A Licencing error is preventing you from continuing</p>
    <p class="lead">
        <a class="btn btn-success" href="mailto:sales@gonc.co.zw" role="button">Contact Vendor</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 shadow">
            <p>The application cannot proceed because no valid license has been applied.</p>
            <p>Please email the <a href="mailto:sales@gonc.co.zw" class='btn btn-primary'>vendor</a> </p>
        </div>
    </div>
</div>

{% endblock window %}