{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
<i class="fas fa-envelope"></i> Email
{% endblock heading %}

{% block actions %}
<a class='dropdown-item' href="{% url 'messaging:config' %}">Configure inbox</a>
{% endblock actions %}

{% block content %}

<style>
    div.public-DraftEditor-content{
        min-height: 298px;
        overflow-y: auto;
    }
    #email-to > div {
        border: 1px solid #ccc;
    }
</style>



<style>
    .block-link {
        text-decoration: none;
        color: black;
    }

    .selected-folder {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    .unread-message {
        border-left: 3px solid #007bff;
    }

    .selected-message {
        background-color: #007bff;
        color: white;
        
    }
</style>

<div class="container">
    <div class="row">
        <input type="hidden" name="profile" id='id_profile' value="{{profile}}">
        <div class="col-sm-12 shadow" id="inbox-widget">
            
    </div>
</div>

{% render_bundle 'messaging' %}
{% endblock %}