
<footer class='row'>
    <div class="dropdown col-md-2">
        <button class="btn secondary btn-sm dropdown-toggle" type="button" id="users-buttons" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                    <i class="fas fa-rocket"></i> Quick Actions
                </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            {% if request.user.is_superuser %}
            <a class='dropdown-item' href="{% url 'base:config' pk=1 %}"> <i class="fa fa-cogs" aria-hidden="true"></i> Global Settings</a>
            {% endif %}
            <a class='dropdown-item' href="{% url 'employees:portal-login' %}"> <i class="fas fa-user-cog"></i> Employee Portal</a>
            <a class='dropdown-item' href="{% url 'employees:time-logger' %}"> <i class="fas fa-hourglass-half" ></i> Time Logger</a>
        </div>
    </div>
    <div class='col-md-4 text-white'>
        {% comment %} <a style="color:white;" href="/base/about/"> <i class="fas fa-info-circle"></i> About</a> | 
        <i class="fas fa-database"></i> Current Database: <span id='current-db'></span> {% endcomment %}
    </div>
    <div class='col-md-6 text-white'>
        {% if request.user.is_superuser %} 
            
                <i class="fa fa-user-astronaut" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {% endif %} {{request.user.username}} is currently logged in. | 
            <a class='text-white' href="/logout"> <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
    </div>
</footer>
