{% load static %}


<script>
function inIFrame(){
    return window.top !== window.self;       
}

$(document).ready(function(){
    if(inIFrame()){
        $("#navbar").hide();
        $("#footer").hide();
    }
})
</script>

<nav class="nav flex-column primary" id="navbar" >
        <ul class="navbar-nav ">
            <!--{% url 'base:workflow' %}-->
            <a class="navbar-brand" href="/invoicing/"  >
                Bentsch
            </a>
            {% if request.user %}
            <li class="nav-item" id="planner">
                <a href="{% url 'planner:dashboard' %}" class="nav-link">
                    <i class="fas fa-calendar-alt" style="font-size:24;">
                    </i> Planner
                    <span class="badge badge-primary">
                        {% if request.user.employee %}
                            {{request.user.employee.agenda_items}}
                        {% else %}
                        0 
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endif %}
            {% comment %} {% if request.user %}
            <li class="nav-item" id="inbox">
                <a href="{% url 'messaging:inbox' %}" class="nav-link">
                    <i class="fas fa-envelope" style="font-size:24;"></i> 
                    Email
                    <sub>
                        <span class="badge badge-danger" >beta!</span>
                    </sub>
                </a>
            </li>
            {% endif %} {% endcomment %}
            
            {% if request.user.is_superuser or request.user.employee.is_sales_rep %}
            <li class="nav-item dropdown" id='sales'>
                <div style='display:flex;flex-direction:row;width:100%;'>
                    <a style='padding-right:10px;' class="nav-link" href="{% url 'invoicing:home' %}">
                    <i class="fas fa-cash-register"></i>Sales
                </a>
                <a class="nav-link  " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style='padding:10px;'> <i class="fas fa-caret-down    "></i> </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/invoicing/pos/">POS</a>
                <a class="dropdown-item" href="{% url 'invoicing:crm-dashboard' %}">CRM</a>
                </div>
                </div>
            </li>
            {% endif %}
            
            {% if request.user.is_superuser or request.user.employee.is_inventory_controller %}
            <li class="nav-item" id="inventory">
                <a class="nav-link" href="{% url 'inventory:home' %}">
                    <i class="fas fa-warehouse"></i>Inventory
                </a>
            </li>
            {% endif %}
            {% if request.user.is_superuser or request.user.employee.is_bookkeeper %}
            <li class="nav-item" id="accounting">
                <a class="nav-link" href="{% url 'accounting:dashboard' %}">
                    <i class="fas fa-dollar-sign"></i>Accounting
                </a>
            </li>
            {% endif %}
            {% if request.user.is_superuser or request.user.employee.is_serviceperson %}
            <li class="nav-item" id="services">
                <a href="{% url 'services:dashboard' %}" class="nav-link"><i class="fas fa-toolbox"></i> Services</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser or request.user.employee.is_payroll_officer %}
            <li class="nav-item" id="employees">
                <a class="nav-link" href="{% url 'employees:dashboard' %}">
                    <i class="fas fa-users"></i>Employees
                </a>
            </li>
            {% endif %}
            <!--
            {% if request.user.is_superuser or request.user.employee.is_manufacturing_associate %}
            <li>
                <a class="nav-link" href="{% url 'manufacturing:dashboard' %}">Manufacturing</a>
            </li>
            {% endif %}
            -->
            <li>
                <div class='notification-button'><i class="fas fa-bell"></i></div>
            </li>
        </ul>
</nav>