{% extends "base.html" %}
{% load static %}
{% block head %}
{% block head_extended %}{% endblock %}
{% endblock %}
{% block window %}



<main>
    <aside id='nav'>
        {% include "nav.html" %}
    </aside>
    <article id='window'>
        <section id='title'>
            <button onclick='toggleMobileNav()' class="btn btn-primary" id='mobile-nav'>
                <i class="fas fa-bars fa-2x   "></i>
            </button>
            <div id='title-text'>{% block heading %}{% endblock heading %}</div>
            <div id='action-icon dropdown'>

                <button class="btn btn-block primary " id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </button>

                <div class="dropdown-menu" id='action-dropdown-items' aria-labelledby="triggerId">
                    {% block actions %}
                    {% endblock actions %}

                </div>
            </div>
            <div id='notifications-icon'>
                <button id='notifications-button' class="btn btn-block primary"><i
                        class="text-white fas fa-bell    "></i>
                    {% if messages %}
                    <span class="badge badge-danger">!</span>
                    {% endif %}
                </button>
            </div>
        </section>
        <div class="notifications">
            <div class="notification-window">
                <div>
                    <h4> <button id='close-notifications' class="btn primary"><i
                                class="fas fa-arrow-right"></i></button>
                        Notifications</h4>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <script>
        </script>
        <section id='content'>
            {% block content %}{% endblock %}
        </section>
        <section id='footer'>
            {% include "footer.html" %}
        </section>
    </article>
</main>


{% endblock %}