{% extends "base.html" %}
{% load static %}
{% block head %}
    {% block head_extended %}{% endblock %}
{% endblock %}
{% block window %}



<main>
    <aside id='nav'>
        {% include "nav.html" %}
    </aside>
    <article id='window'>
        {% include 'title.html' %}
        <section id='content'>
            {% block content %}{% endblock %}
        </section>
        <section id='footer'>
            {% include "footer.html" %}
        </section>
    </article>
</main>


<script src='{% static "common_data/js/suave.js" %}'></script>
{% endblock %}