{% extends "base.html" %}
{% load static %}
{% block head %}
{% block head_extended %}{% endblock %}
{% endblock %}
{% block window %}
{% load render_bundle from webpack_loader %}


<main>
    <aside id='nav'>
        {% include "nav.html" %}
    </aside>
    <article id='window'>
        <section id='title'>
            <button onclick='toggleMobileNav()' class="btn btn-primary" id='mobile-nav'>
                <i class="fas fa-bars fa-2x   "></i>
            </button>
            <div id='title-text'>{% block heading %}{% endblock heading %}</div>
            <div id='action-icon dropdown'>

                <button class="btn btn-block primary " id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </button>

                <div class="dropdown-menu" id='action-dropdown-items' aria-labelledby="triggerId">
                    {% block actions %}
                    {% endblock actions %}

                </div>
            </div>
            <div id='notifications-icon'>
                <button id='notifications-button' class="btn btn-block primary"><i
                        class="text-white fas fa-bell {% if messages %}bell-active {% endif %}"></i>
                    {% if messages %}
                    <audio id='chime' src='{% static "common_data/audio/chime.mp3" %}' autostart='false' width='0' height='0' enablejavascript='true' ></audio>
                    <script>
                        setTimeout(function(){
                    var audio = document.getElementById('chime');
                    audio.play()
                }, 500)
                    </script>
                    <span id='notification-badge' class="badge badge-danger">!</span>
                    {% endif %}
                </button>
            </div>
        </section>
        <div class="notifications"></div>
        <div class="notification-window">
                <div>
                    <h5><button id='close-notifications' class="btn primary"><i
                                class="fas fa-arrow-right"></i></button>
                        Notifications</h5>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        {% if inline_form %}
            <script src="{{inline_form}}">
        {% endif %}
        
        </script>
        <section id='content'>
            {% block content %}{% endblock %}
        </section>
        <section id='footer'>
            {% include "footer.html" %}
        </section>
        <section id="quick-entry"></section>
    </article>
</main>

<script >
    {% if page_script %}
        {% include page_script %}
    {% endif %}
</script>
{% render_bundle 'common' %}


{% endblock %}