{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Complete Work Order
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'services:work-order-update' pk=object.pk %}">
                    <i class="fas fa-edit"></i> Update 
                </a>

                <a class="dropdown-item" href="{% url 'services:work-order-detail' pk=object.pk %}">
                    <i class="fas fa-file-alt"></i> Detail View / Authorize
                </a>
                {% if object.procedure_pk %}
                <a class="dropdown-item" href="{% url 'services:procedure-details' pk=object.procedure_pk %}">
                    <i class="fas fa-list-ul"></i> View Procedure
                </a>
                
                {% endif %}
                {% if object.status != 'authorized' %}
                
                <a class="dropdown-item" href="{% url 'services:work-order-equipment-requisition-create' pk=object.pk %}">
                    <i class="fas fa-file-invoice"></i> Request Equipment
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-consumable-requisition-create' pk=object.pk %}">
                    <i class="fas fa-file-invoice"></i> Request Consumables
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-expense-create' pk=object.pk %}">
                    <i class="fas fa-dollar-sign"></i> Record Work Order  Expense
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-costing' pk=object.pk %}">
                    <i class="fas fa-receipt"></i>Work Order Costing
                </a>
                {% endif %}
{% endblock actions %}
{% block content %}

<div class="container">
    
        <br>
        <div class="row">
            <div class="col-md-1 col-sm-12">
                <nav class="nav nav-tabs nav-stacked">
                    <a href="#progress" class="nav-link active" data-toggle="tab">Progress</a>
                    <a href="#notes-tab" class="nav-link" data-toggle="tab">Notes</a>
                    <a href="#work" class="nav-link" data-toggle="tab">Working Hours</a>
                </nav>
            </div>
            <div class='col-md-11 col-sm-12'>
                <div class="tab-content panel-body">
                    <div class="tab-pane active" id="progress">
                        <div class="row">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body" >
                                    <h4>Tasks</h4>
                                    <style>
                                        .card {
                                            margin-bottom: 8px;
                                        }

                                        #task-list .card:hover, .active-card {
                                            transition: transform 0.3s ease;
                                            transform: scale(1.025);
                                            box-shadow: 0px 5px 30px #ddd,
                                                        0px 2px 5px #bbb;
                                            border-left: 6px solid #23374d
                                        }
                                    </style>
                                    <div id="task-list"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="notes-tab">
                        <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" style="min-height:500px;">
                                    <h4 class="card-title">Notes</h4>
                                    
                                    <div id="notes-widget"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="work">
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <table class="table table-sm">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>Date</th>
                                            <th>Employee</th>
                                            <th>Normal Time</th>
                                            <th>Overtime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in object.timelog_set.all %}
                                        <tr>
                                            <td>{{log.date}}</td>
                                            <td>{{log.employee}}</td>
                                            <td>{{log.normal_time}}</td>
                                            <td>{{log.overtime}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% comment %} <tfoot>
                                        <tr>
                                            <th colspan="2">Total</th>
                                            <td>{{object.total_normal_hours}}</td>
                                            <td>{{object.total_overtime_hours}}</td>
                                        </tr>
                                    </tfoot> {% endcomment %}
                                </table>
                                <form action="" method="POST">
                                    {{form.service_time}}
                                    {% csrf_token %}
                                    <div id="service-time"></div>
                                    </div>
                                    <br>
                                    <button id='submit' class="btn-sm btn-primary">Submit</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    
</div>

{% render_bundle "services" %}

{% endblock content %}