{% extends "window.html" %}
{% load static %}
{% load accounting %}
{% load render_bundle from webpack_loader %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/document-styles.css' %}">
{% endblock head %}
{% block heading %}
Job Detail
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href="{% url 'services:work-order-update' pk=object.pk %}">
    <i class="fas fa-edit"></i> Update
</a>
{% if  object.status != 'authorized' %}
<button class="dropdown-item" onclick='toggleValidateForm()'>Authorize</button>
{% else  %}
    <span class='dropdown-item'>Authorized By: {{object.authorized_by}}</span>
{% endif %}

{% if wo.procedure_pk %}
<a class="dropdown-item" href="{% url 'services:procedure-details' pk=object.procedure_pk %}">
    <i class="fas fa-list-ul"></i> View Procedure
</a>

{% endif %}
{% if wo.status != 'authorized' %}

<a class="dropdown-item" href="{% url 'services:work-order-equipment-requisition-create' pk=object.pk %}">
    <i class="fas fa-file-invoice"></i> Request Equipment
</a>
<a class="dropdown-item" href="{% url 'services:work-order-consumable-requisition-create' pk=object.pk %}">
    <i class="fas fa-file-invoice"></i> Request Consumables
</a>
<a class="dropdown-item" href="{% url 'services:work-order-expense-create' pk=object.pk %}">
    <i class="fas fa-dollar-sign"></i> Record Work Related Expense
</a>
<a class="dropdown-item" href="{% url 'services:work-order-costing' pk=object.pk %}">
    <i class="fas fa-receipt"></i> Profitability Analysis
</a>
{% endif %}
{% endblock actions %}
{% block content %}
<style>
    .card {
        margin-bottom: 8px;
    }

    #task-list .card:hover,
    .active-card {
        transition: transform 0.3s ease;
        transform: scale(1.025);
        box-shadow: 0px 5px 30px #ddd,
            0px 2px 5px #bbb;
        border-left: 6px solid #23374d
    }

    #service-time-logger {
        overflow-x: auto;
        min-height:500px;
    }
    
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card shadow accent-md">
                <div class="card-body">
                    <h3 >  Status:</h3>
                    <h1 style='display:inline-block;padding:1rem;border-radius:2rem;font-size:2rem;background-color: {% if object.status == "requested" %} orange {% elif object.status == "progress" %} #23374d  {% elif object.status == "completed" %} steelblue {% elif object.status == "approved" %} green {% elif object.status == "declined" %} crimson {% endif %}; color:white;'>{{object.status}}</h1>
                    <h1>{{object.completed_tasks.all.count}}/{{object.workordertask_set.all.count}}<span class="less"> TASKS COMPLETED</span></h1>
                </div>
            </div>
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h2><i class="fas fa-file-invoice    "></i> Expenses:</h2>
                    <h1>{{object.total_expenses|active_currency}}</h1>
                </div>
            </div>
            <div class="card {% if not budget %} shadow {% endif %}  accent-md">
                <div class="card-body">
                {% if budget %}
                <h5>Hours Worked</h5>
                    <p><span class='less'>BUDGET {{object.expected_duration}} </span></p>
                    {% autoescape off %}
                    {{budget}}
                    {% endautoescape %}
                
                {% else %}
                    <h2> <i class="fas fa-clock "></i> Hours Worked:</h2>
                    <h1>{{object.total_time}}</h1>
                {% endif %}
                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card shadow accent-left-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p class="card-text">{{object.date}}</p>
                            <p class="card-text">{{object.time}}</p>
                            <p class="card-text">Invoice: {{object.works_request.invoice.invoice_number | stringformat:"06d"}}</p>
                        
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h4>Resolvers</h4>
                            {% if object.team %}
                            <div style='background-color:#eee;padding:10px;'>
                                <h6 class="card-text"> Team {{object.team}}</h6>
                                <ul>
                                    {% for tm in object.team.members.all %}
                                    <li>{{tm}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <h6>Individuals</h6>
                            <ul>
                                {% for sp in object.service_people.all %}
                                <li>{{sp}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                     
                    <hr>
                    <p class="card-text">{{object.description}}</p>
                    

                   
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-12">
            <nav class="nav nav-tabs">
                <a href="#progress" class="nav-link active" data-toggle="tab">Tasks</a>
                <a href="#notes-tab" class="nav-link" data-toggle="tab">Notes</a>
                <a href="#expenses" class="nav-link" data-toggle="tab">Expenses</a>
                <a href="#work" class="nav-link" data-toggle="tab">Time Logs</a>
                <a href="#equipment" class="nav-link" data-toggle="tab">Equipment</a>
                <a href="#consumables" class="nav-link" data-toggle="tab">Consumables</a>
            </nav>
            <div class="tab-content panel-body">
                <div class="tab-pane active" id="progress">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body">
                                   <nav class="nav nav-tabs">
                                    <a href="#task-list-tab" class="nav-link" data-toggle='tab'> <i class="fas fa-list-ul    "></i> </a>
                                    <a href="#gantt-tab" class="nav-link active" data-toggle='tab'> <i class="fas fa-chart-line    "></i> </a>
                                    </nav>
                                    <div class="tab-content pane-body">
                                        <div class="tab-pane" id='task-list-tab'>
                                             <h4>Task List</h4>
                                            <div id="task-list"></div>
                                        </div>
                                        <div class="tab-pane active" id='gantt-tab'>
                                            <h4>Gantt Chart </h4>
                                            <div id="gantt"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="equipment">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Requisition ID</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Requested By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for req in object.equipmentrequisition_set.all %}
                                                {% for line in req.equipmentrequisitionline_set.all %}
                                                    <tr>
                                                        <td>{{req.pk|stringformat:"06d"}}</td>
                                                        <td>{{line.equipment}}</td>
                                                        <td>{{line.quantity}}</td>
                                                        <td>{{req.requested_by}}</td>
                                                        <td>{{req.status}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="consumables">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Requisition ID</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Requested By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for req in object.consumablesrequisition_set.all %}
                                                {% for line in req.consumablesrequisitionline_set.all %}
                                                    <tr>
                                                        <td>{{req.pk|stringformat:"06d"}}</td>
                                                        <td>{{line.consumable}}</td>
                                                        <td>{{line.quantity}}</td>
                                                        <td>{{req.requested_by}}</td>
                                                        <td>{{req.status}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="notes-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" style="min-height:500px;">
                                    <h4 class="card-title">Notes</h4>

                                    <div id="notes-widget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="expenses">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" style="min-height:500px;">
                                    <h4>Expenses</h4>
            
            <table class="table table-sm">
                <thead>
                    <tr class="bg-primary">
                        <th>Expense ID</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object.expenses.all.count == 0 %}
                    <tr>
                        <td colspan="3"><b>No data to display</b></td>
                    </tr>
                    {% else %}
                    {% for exp in object.expenses %}
                    <tr>
                        <td><a class="btn btn-primary"
                                href="{% url 'accounting:expense-detail' pk=exp.expense.pk %}">{{exp.expense.pk}}</a>
                        </td>
                        <td>{{exp.expense.category_string}}</td>
                        <td>{{exp.expense.amount}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="work">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    {% csrf_token %}
                                    <div id="service-time-logger">
                                    </div>
                                    <input type="hidden" name='service-time' id='id_service_time'>
                                    <br>
                                    <div>
                                        <button onclick='addLog()' id='submit' class="btn-sm btn-primary">Submit</button>
                                        <script>
                                            function addLog(){
                                                $.post('/services/work-order-log-time/{{object.pk}}/', {
                                                    "service_time": $('#id_service_time').val(),
                                                    "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val()
                                                }, function(resp){
                                                    if(resp.status != 'ok'){
                                                        bentschAlert('Time log not successfully recorded.')
                                                    }
                                                })
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dom-modal">
    <div class='dom-modal-content' id="validate-form">
        <h5>Authorization Form</h5>
        <form action="{% url 'services:work-order-authorize' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                    {{authorization_form}}
                </tbody>
            </table>
            <button class="btn-sm btn-primary">Authorize</button>
        </form>
        <button class="btn btn-danger" onclick='toggleValidateForm()'>Cancel</button>
    </div>
</div>
<script>
    function toggleValidateForm(){
        $('.dom-modal').toggle();
    }
</script>
{% render_bundle "services" %}

{% endblock %}
