{% extends "window.html" %}
{% load static %}
{% load accounting %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/document-styles.css' %}">
{% endblock head %}
{% block heading %}
Work Order Detail
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href="{% url 'services:work-order-update' pk=object.pk %}">
    <i class="fas fa-edit"></i> Update
</a>
{% if  object.status != 'authorized' %}
<button class="dropdown-item" onclick='toggleValidateForm()'>Authorize</button>
{% else  %}
    <span class='dropdown-item'>Authorized By: {{object.authorized_by}}</span>
{% endif %}

{% if wo.procedure_pk %}
<a class="dropdown-item" href="{% url 'services:procedure-details' pk=object.procedure_pk %}">
    <i class="fas fa-list-ul"></i> View Procedure
</a>

{% endif %}
{% if wo.status != 'authorized' %}
<a class="dropdown-item" href="{% url 'services:work-order-complete' pk=object.pk %}">
    <i class="fas fa-check"></i> Update Progress
</a>
<a class="dropdown-item" href="{% url 'services:work-order-equipment-requisition-create' pk=object.pk %}">
    <i class="fas fa-file-invoice"></i> Request Equipment
</a>
<a class="dropdown-item" href="{% url 'services:work-order-consumable-requisition-create' pk=object.pk %}">
    <i class="fas fa-file-invoice"></i> Request Consumables
</a>
<a class="dropdown-item" href="{% url 'services:work-order-expense-create' pk=object.pk %}">
    <i class="fas fa-dollar-sign"></i> Record Work Related Expense
</a>
<a class="dropdown-item" href="{% url 'services:work-order-costing' pk=object.pk %}">
    <i class="fas fa-receipt"></i> Costing
</a>
{% endif %}
{% endblock actions %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card shadow accent-md">
                <div class="card-body">
                    <h3 >  Status:</h3>
                    <h1 style='display:inline-block;padding:8px;border-radius:24px;font-size:32px;'>{{object.status}}</h1>
                </div>
            </div>
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h2><i class="fas fa-file-invoice    "></i> Expenses:</h2>
                    <h1>{{object.total_expenses|active_currency}}</h1>
                </div>
            </div>
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h2> <i class="fas fa-clock "></i> Hours Worked:</h2>
                    <h1>{{object.total_time}}</h1>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card shadow accent-lg">
                <div class="card-body">
                    <p class="card-text">{{object.date}}</p>
                    <p class="card-text">{{object.time}}</p>
                    <p class="card-text">Invoice: {{object.works_request.invoice.invoice_number | stringformat:"06d"}}</p>
                    
                    <hr>
                    <p class="card-text">{{object.description}}</p>
                    <h4>Resolvers</h4>
                    
                    <div style='background-color:#eee;padding:10px;'>
                        <h6>Teams</h6>
                        <p class="card-text">{{object.team}}</p>
                        <ul>
                            {% for tm in object.team.members.all %}
                            <li>{{tm}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <h6>Individuals</h6>
                    <ul>
                        {% for sp in object.service_people.all %}
                        <li>{{sp}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            
            <h4>Expenses</h4>
            
            <table class="table table-sm">
                        <thead>
                            <tr class="bg-primary">
                                <th>Expense ID</th>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object.expenses.all.count == 0 %}
                            <tr>
                                <td colspan="3"><b>No data to display</b></td>
                            </tr>
                            {% else %}
                            {% for exp in object.expenses %}
                            <tr>
                                <td><a class="btn btn-primary"
                                        href="{% url 'accounting:expense-detail' pk=exp.expense.pk %}">{{exp.expense.pk}}</a>
                                </td>
                                <td>{{exp.expense.category_string}}</td>
                                <td>{{exp.expense.amount}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
            <hr class="my-4">
            <h4>Time Logs</h4>
            <table class="table table-sm">
                        <thead>
                            <tr class="bg-primary">
                                <th>Employee</th>
                                <th>Normal Time</th>
                                <th>Overtime</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object.time_logs.all.count == 0 %}
                            <tr>
                                <td colspan="3"><b>No Data To Be Displayed</b></td>
                            </tr>
                            {% else %}
                            {% for time in object.time_logs %}
                            <tr>
                                <td>{{time.employee}}</td>
                                <td>{{time.normal_time}}</td>
                                <td>{{time.overtime}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
        </div>
    </div>
</div>
<div class="dom-modal">
    <div class='dom-modal-content' id="validate-form">
        <h5>Authorization Form</h5>
        <form action="{% url 'services:work-order-authorize' pk=object.pk %}" method="POST">
            {% csrf_token %}
            {{authorization_form}}
            <button class="btn-sm btn-primary">Authorize</button>
        </form>
        <button class="btn btn-danger" onclick='toggleValidateForm()'>Cancel</button>
    </div>
</div>
<script>
    function toggleValidateForm(){
        $('.dom-modal').toggle();
    }
</script>

{% endblock %}
