{% extends 'base.html' %}
{% block window %}
{% load static %}
{% load crispy_forms_tags %}

<style>
.bg-textured {
    background-color:#1089ff;
    background-image: url("{% static 'common_data/images/email-pattern.png' %}");
    /*filter: blur(5px);*/
}

.md {
    font-size: 2rem;
    color: #007bff;
    padding: 10px 50px;
}
</style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow hero">
                    <div class="card-body">
                        <h1 class='logo'>Bentsch</h1>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button style='color:white;background-color:#1089ff;' class="btn btn-lg btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function(){
        $('input').addClass('form-control');
        $('body').addClass('bg-textured');
    })
</script>

{% endblock %}