{% load static %}
<html>
{% include 'common_data/page/page_common.html' %}
<body>
    {% if pdf_link %}
        <div class="container-fluid" >
            <div class="row">
                <div class="col-12">{% block pre_page %}{% endblock %}</div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-3 col-sm-12 report-nav" id='nav'>
                    {% include "nav.html" %}
                </div>
                <div class="col-md-9 col-sm-12" >
                <div id='scroll-frame'>
                {% endif %}
                    <div class="{% if pdf_link %}page-container{% else %}print-page-container{% endif %}"> 
                        <div class="custom-page">
                            {% block page_contents %}{% endblock %}
                        </div>
                    </div>
                </div>
    {% if pdf_link %}
                </div>
            </div>
            <div class="row">
                <div class="col-12" id='footer'>
                    {% include "footer.html" %}
                </div>
            </div>
        </div>
    {% endif %}
    

        
<script>
    $(document).ready(function(){
        if(window.self != window.top){
            $('.page-container').addClass('page-container-iframe')
            $()
        }
    })
</script>
 <script src="{% static 'common_data/js/suave.js' %}"></script>
</body>
</html>
