.time_list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.time_list_item {
    position: relative;
    display: block;
    padding: 3px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.dataLists {
    flex: 1;
    max-height: 150px;
    overflow-y: auto;
}

.dataLists::-webkit-scrollbar {
    width: 8px;
    background-color: #ddd;
    border-radius: 4px;
}


.dataLists::-webkit-scrollbar-thumb {
    background-color: #23374d;
    border-radius: 4px;
}


.pickerButton {
    background-color:white;
    color: #23374d;
    border: 0px;
    flex: 0;
    margin: 0px !important;
    width: 2rem;
}

.pickerContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #999;
}

.pickerContainer input{
    border: 0px;
    flex: 1;
}