{% extends 'base.html' %} {% block window %}
{% load accounting %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="dash-container">
                <div class="dashbox" style='border-top: 15px solid limegreen;'>
                    <h4>Assets:</h4>
                    <h3>{{assets|active_currency}}</h3>
                    <i class="fas fa-key dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox" style='border-top: 15px solid crimson;'>
                    <h4>Liabilities: </h4>
                    <h3>{{liabilities|active_currency}}</h3>
                    <i class="fas fa-file-invoice-dollar dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox" style='border-top: 15px solid cadetblue;'>
                    <h4>Equity:</h4>
                    <h3>{{equity|active_currency}}</h3>
                    <i class="fas fa-hand-holding-usd dash-icon fa-7x" ></i>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="dash-visualization">
                <h4>Expenses Breakdown</h4>
                {% autoescape off %}
                {{expense_graph}}
            </div>
        </div>
        <div class="col-12">
            <div class="dash-visualization">
                <h4>Revenue vs Expenses</h4>
                {{revenue_graph}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock %}