{% extends 'base.html' %} {% block window %}
{% load accounting %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="dash-container">
                <div class="dashbox">
                    <h4>Assets:</h4>
                    <h3>{{assets|active_currency}}</h3>
                </div>
                <div class="bg-danger text-white dashbox">
                    <h4>Liabilities: </h4>
                    <h3>{{liabilities|active_currency}}</h3>
                </div>
                <div class="bg-warning text-white dashbox">
                    <h4>Equity:</h4>
                    <h3>{{equity|active_currency}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="dash-visualization">
                <h4>Expenses Breakdown</h4>
                {% autoescape off %}
                {{expense_graph}}
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="dash-visualization">
                <h4>Revenue vs Expenses</h4>
                {{revenue_graph}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock %}