{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Create Journal Entry
{% endblock heading %}
{% block content %}
{% load crispy_forms_tags %}
<div class='container'>
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow card ">
              <div class="card-body">
                        {% crispy form %}
              </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle 'accounting' %}
{% endblock content %}