{% extends 'window.html' %}
{% block heading %}
<i class="fas fa-dollar-sign    "></i> Accounting
{% endblock heading %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class='navbar-nav dashboard-nav'>
                    <li class="nav-item"><i class=" fas fa-book"></i> Journal</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:compound-entry' %}">Create Journal Entry</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:journal-list' %}">Manage Journals</a>
                    </li>
                    <li class="nav-item"><i class=" fas fa-balance-scale"></i>
                        Accounts + Assets</li>
                        <li class="list-group-item hvr-grow">
                                        <a href="{% url 'accounting:account-list' %}">View Chart of Accounts</a>
                                    </li>
                    {% comment %} <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:transfer' %}">Transfer Between Accounts</a>
                    </li> {% endcomment %}
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:asset-list' %}">Manage Assets</a>
                    </li>
                    <li class="nav-item"><i class=" fas fa-receipt"></i>Bills & Expenses</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:direct-payment-list' %}">Manage Direct Payments</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:list-bills' %}">Manage Bills</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:expense-list' %}">Manage Expenses</a>
                    </li>
                    <li class="nav-item"><i class=" fas fa-chart-bar"></i> Reports</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:balance-sheet' %}">Balance Sheet</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:profit-and-loss-form' %}">Income Statement</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'accounting:trial-balance' %}">Trial
                            Balance</a></li>
                    <li class="list-group-item hvr-grow"><a
                            href="{% url 'invoicing:accounts-receivable-report' %}">Accounts
                            Receivable Report</a> </li>
                    <li class="list-group-item hvr-grow"><a
                            href="{% url 'invoicing:customer-statement-form' %}">Customer
                            Statement</a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'inventory:vendor-balance-report' %}">
                            Vendor Balance Report
                        </a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'inventory:vendor-transactions-form' %}">
                            Vendor Transactions Report
                        </a></li>
                    <li class="nav-item"><i class=" fas fa-handshake"></i>
                        Interactions </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'invoicing:customers-list' %}"> Customers</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:supplier-list' %} ">Vendors </a>
                    </li>

                    <li class="nav-item"><i class=" fas fa-sliders-h"></i>
                        Configuration</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:config' pk=1 %}">Settings</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:tax-list' %}">Manage Sales Taxes</a>
                    </li>
                    {% comment %} <li class="list-group-item hvr-grow">
                        <a href="{% url 'accounting:currency-converter' %}">Manage Currencies</a>
                    </li> {% endcomment %}
                </ul>
            </nav>
        </div>
        <div class="col-md-9 col-sm-12">
            <iframe src="/accounting/async-dashboard/" class='dash-frame' frameborder="0" ></iframe>
        </div>
    </div>
</div>
{% endblock %}