{% extends 'common_data/list_template.html' %}

{% block heading %}
Direct Payments
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'accounting:direct-payment' %}" role="button">Create New</a>
{% endblock actions %}
{% block list_headings %}

                <tr>
                    <th>Date</th>
                    <th>Paid To</th>
                    <th>Paid From</th>
                    <th class='mobile'>Comments</th>
                    <th></th>
                </tr>
                {% endblock %}
                {% block list_content %}
                {% for t in object_list %}
                    <tr>
                        <td>{{t.entry.date}}</td>
                        <td>{{t.entry.primary_debit}}</td>
                        <td>{{t.entry.primary_credit}}</td>
                        <td class='mobile'>{{t.entry.memo}}</td>
                        <td>
                            <a href="{% url 'accounting:entry-detail' pk=t.entry.pk %}"><i class="fas fa-file-alt fa-2x   "></i></a>
                        </td>
                    </tr>
                {% endfor %}
                {% endblock list_content %}
