{% extends 'common_data/list_template.html' %}

{% block heading %}
Direct Payments
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'accounting:direct-payment' %}" role="button">Create New</a>
{% endblock actions %}
{% block list_headings %}

                <tr>
                    <th>Date</th>
                    <th>Paid To</th>
                    <th>Paid From</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
                {% endblock %}
                {% block list_content %}
                {% for t in object_list %}
                    {% if t.primary_credit %}
                    <tr>
                        <td>{{t.date}}</td>
                        <td>{{t.primary_credit}}</td>
                        <td>{{t.primary_debit}}</td>
                        <td>{{t.memo}}</td>
                        <td>
                            <a href="{% url 'accounting:entry-detail' pk=t.pk %}"><i class="fas fa-file-alt fa-2x   "></i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% endblock list_content %}
