{% extends 'common_data/unfiltered_list_template.html' %}

{% block list_headings %}
    <tr>
        <th>Name</th>
        <th>Currency</th>
        <th></th>
    </tr>
{% endblock %}
{% block list_content %}
    {% for method in object_list %}
        <tr>
            <td>{{method.name}}</td>
            <td>{{method.currency}}</td>
            <td>
                <a class='btn btn-sm btn-primary' href='{% url "invoicing:update-payment-method" pk=method.pk %}'> <i class="fa fa-ellipsis-h" aria-hidden="true"></i> </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}