{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}">
{% endblock %}
{% block heading %}
Create Purchase Order
{% endblock heading %}


{% block content %}



<div class="container">
    <div class="shadow card ">
        <div class="card-body">
            <div>
            {{ form.errors }}
            {% crispy form %}                    
            </div>

            
        </div>
    </div>
</div>
<script>
    // add form field
    $('form').append('<input type="hidden" name="items" id="id_items">');
</script>

{% render_bundle 'inventory' %}
{% endblock %}