{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
{{title}}
{% endblock heading %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                <form method="POST" action="" enctype="multipart/form-data" >
                {% csrf_token %}
                <table class="table table-sm">
                    {{form.as_p}}
                </table>
                <input type="hidden" name="items" id="id_items">
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </form>
                </div>
        </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div id="order-root"></div>
        </div>
    </div>
    
</div>

{% render_bundle 'inventory' %}
{% endblock %}