{% extends "window.html" %}
{% block heading %}
Expense Details
{% endblock heading %}
{% load accounting %}
{% block actions %}
<a class="dropdown-item" href="/accounting/expense/create"> <i class="fas fa-plus"></i> <i class="fas fa-edit    "></i>  Create Expense</a>
{% endblock actions %}
{% block content %}
<br>

<div class="container">
    <div class="row">
            <div class="col-12">
                <div class="card shadow accent-left-lg" >
                <div class="card-body ">
                    <h3 class="card-title">{{object.amount|active_currency}}</h3>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p class="card-text">{{object.date}}</p>
                            <p class="card-text"> <i class="fas fa-user    "></i> {{object.recorded_by}}</p>
                            {% if object.debit_account %}
                            <p class="card-text">Account: <a href=" {% url 'accounting:account-detail' pk=object.debit_account.pk %} ">{{object.debit_account}}</a></p> 
                            {% endif %}
                            <p class="card-text">Category: {{object.category_string}}</p>    
                        </div>
                        <div class="col-sm-12 col-md-6">
                            {% if object.billable %}
                            <h5 class="card-title">Billing</h5>
                            <p class="card-text">Customer:  {{object.customer}}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <hr class="my-2">
                    <p class="card-text">{{object.description}}</p>

                </div>
            </div>
            </div>
    </div>
    <br>
    {% if object.attachment %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <img class='card-img-top' src="{{object.attachment.url}}" alt="expense attachment">
                    <div class="card-body">
                        <h4 style='text-align:center'>{{object.attachment}}</h4>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock content %}