{% extends "window.html" %}
{% block heading %}
Expense Details
{% endblock heading %}
{% load accounting %}
{% block actions %}
<a class="dropdown-item" href="/accounting/expense/create"> <i class="fas fa-plus"></i> <i class="fas fa-edit    "></i>  Create Expense</a>
{% endblock actions %}
{% block content %}
<br>

<div class="container">
    <div class="row">
            <div class="col-sm-5">
                <div class="card shadow" >
                <div class="card-body ">
                    <h3 class="card-title">{{object.amount|active_currency}}</h3>
                    <p class="card-text">{{object.date}}</p>
                    <p class="card-text"> <i class="fas fa-user    "></i> {{object.recorded_by.employee}}</p>
                    <p class="card-text">Account: <a href=" {% url 'accounting:account-detail' pk=object.debit_account.pk %} ">{{object.debit_account}}</a></p> 

                    <p class="card-text">Category: {{object.category_string}}</p>
                </div>
            </div>
            </div>
            <div class="col-sm-7">
                <div class="card accent-md">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">{{object.description}}</p>
                        {% if object.billable %}
                        <h4 class="card-title">Billing</h4>
                        <p class="card-text">Customer:  {{object.customer}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}