{% extends 'base.html' %}
{% block window %}
{% load accounting %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="dash-container">
                <div class="dashbox" style='border-top: 15px solid steelblue;'>
                    <h4># Products:</h4>
                    <h3>{{products}}</h3>
                    <i class="fas fa-pallet dash-icon fa-7x" ></i>
                </div>
                <div class="dashbox" style='border-top: 15px solid crimson'>
                    <h4>Money Owed Vendors:</h4>
                    <h3>{{money_owed | active_currency}}</h3>
                    <i class="fas fa-receipt dash-icon fa-7x" ></i>
                </div>
                <div class="dashbox" style='border-top: 15px solid orange;'>
                    <h4># Undelivered Orders:</h4>
                    <h3>{{undelivered_orders}}</h3>
                    <i class="fas fa-truck dash-icon fa-7x" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="dash-visualization">
                <h4>Inventory Composition</h4>
                <div class="dash-v-graph">
                    {% autoescape off %}
                    {{graph}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
            {% comment %} <hr class="my-4">
                    <div class="dash-container">
                        <div class="dashbox white-on-blue">
                            <h3># Active Vendors: <br>{{vendors}}</h3>
                        </div>
                        <div class="bg-primary text-white dashbox">
                            <h3># Warehouses: <br>{{warehouses}}</h3>
                        </div>
                        <div class="dashbox white-on-blue">
                            <h3># Open Requisitions: <br>{{open_requisitions}}</h3>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="dash-container">
                        <div class="bg-primary text-white dashbox">
                            <h3># Pending Inventory Transfers: <br>{{pending_transfers}}</h3>
                        </div>
                        <div class="dashbox white-on-blue">
                            <h3># Equipment Items: <br>{{equipment}}</h3>
                        </div>
                        <div class="bg-primary text-white dashbox">
                            <h3># Unique Consumable Items: <br>{{consumables}}</h3>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="dash-container">
                        <div class="bg-primary text-white dashbox">
                            <h3># Unique Products: <br>{{products}}</h3>
                        </div>
                    </div> {% endcomment %}

                

                    
               

        </div>
    </div>
</div>

{% endblock window %}