{% extends "window.html" %}
{% block heading %}
<i class="fas fa-warehouse    "></i> Inventory

{% endblock heading %}
{% block content %}


<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class='navbar-nav dashboard-nav'>
                    <li class="nav-item"> <i class="fas fa-file-invoice"></i> Purchases </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:order-create' %}">Create New Purchase Order</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:order-list' %}">Manage Orders</a>
                    </li>
                    <li class="nav-item"><i class="fas fa-puzzle-piece"></i> Inventory Management </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:warehouse-detail' pk=primary_warehouse %}">View Inventory</a>
                    </li>

                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:inventory-check-list' pk=primary_warehouse %}">Inventory Checks</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:scrap-history' pk=primary_warehouse %}">Scrapped Inventory</a>
                    </li>
                    {% comment %} <li class="nav-item"><i class="fas fa-warehouse"></i> Warehouses</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:warehouse-create' %}">Add Warehouse</a>
                    </li>

                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:warehouse-list' %}"> Manage Warehouses</a>
                    </li> {% endcomment %}
                    <li class="nav-item"><i class="fas fa-shipping-fast"></i> Vendors</li>
                    <li class="list-group-item hvr-grow">
                        <a class="card-link" href="{% url 'inventory:supplier-create' %}">Create
                            Vendor</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:supplier-list'%} ">Manage Vendors</a>
                    </li>
                    <li class="nav-item"><i class="fas fa-pallet"></i> Inventory</li>
                    {% if use_product_inventory %}
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:product-list' %}">Manage Products</a>
                    </li>
                    {% endif %}
                    
                    {% if use_equipment_inventory %}
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:equipment-list' %}">Manage Equipment</a>
                    </li>
                    {% endif %}
                    {% if use_consumables_inventory %}
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:consumable-list' %}">Manage Consumables</a>
                    </li>
                    {% endif %} 
                    {% if use_equipment_inventory or use_consumables_inventory %}

                    <li class="nav-item"><i class="fas fa-file-signature"></i> Requisitions</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:equipment-requisition-list' %}">Manage Equipment
                            Requisitions</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:consumable-requisition-list' %}">Manage Consumables
                            Requisitions</a>
                    </li>
                    {% endif %}
                    <li class="nav-item"><i class="fas fa-chart-bar"></i> Reports</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:inventory-report' %}">Item Stock Level Report</a>
                    </li>

                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:outstanding-orders-report' %}">Outstanding Orders
                            Report</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a 
                            href="{% url 'inventory:payments-due-report' %}">
                            Payments Due Report
                        </a></li>
                    <li class="list-group-item hvr-grow"><a 
                            href="{% url 'inventory:vendor-balance-report' %}">
                            Vendor Balance Report
                        </a></li>
                    <li class="list-group-item hvr-grow"><a 
                            href="{% url 'inventory:vendor-average-days-to-deliver-report' %}">
                            Vendor Average Days To Deliver Report
                        </a></li>
                    <li class="list-group-item hvr-grow">
                        <a  href="{% url 'inventory:vendor-transactions-form' %}">
                            Vendor Transactions Report
                        </a></li>
                    <li class="nav-item"><i class="fas fa-sliders-h"></i> Configuration</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:config' pk=1 %}">Settings</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:category-list' %}">Manage Inventory Categories</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:unit-list' %}">Manage Units Of Measure</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-md-9 col-sm-12">
            <iframe src="/inventory/async-dashboard/" class='dash-frame' frameborder="0"></iframe>
        </div>
    </div>

    {% endblock %}