.cellStyle {
    border-collapse: collapse;
    border:1px solid #aaaaaa;
    padding: 0px;
}

.headStyle {
    border-collapse: collapse;
    border:1px solid #aaaaaa;
    color: white;
    padding: 0.5rem;   
}
.cellStyle {
    border-collapse: collapse;
    border: 1px solid #aaaaaa;
}

.dayWrapper {
    max-height: 500px;
    overflow-y: auto
}

.weekHeader {
    color: white;
    margin: 0px;
    width: 80vw;
    padding:0.5rem;
}


@media(max-width: 575px){
    .weekHeader {
        width: 100vw;
    }


}