{% extends "window.html" %} 
{% load render_bundle from webpack_loader %}
{% block heading %}
Agenda
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'planner:event-create' %}" role="button">Create New Event</a>
{% endblock actions %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <div id="agenda-timeline">
            
            </div>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>
    {% render_bundle "calendar" %}

    {% endblock content %}

