{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% block window %}
<style>
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
a:hover {
    text-decoration: none;
}
</style>
<article>
<section id='title'>
    <div id='title-text'>Planner</div>
    <div id='action-icon dropdown'>

        <button class="btn btn-block primary " id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </button>

        <div class="dropdown-menu" id='action-dropdown-items' aria-labelledby="triggerId">
            <a class='dropdown-item' href="/planner/dashboard">Back</a>

        </div>
    </div>
</section>
<div id="calendar-root"></div>

</article>


{% render_bundle 'calendar' %}
{% endblock window %}