{% extends "window.html" %}
{% load static %}
{% block heading %}
Planner
{% endblock heading %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class="navbar-nav dashboard-nav">
                    <li class="nav-item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>Calendar
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="/calendar"> View Calendar</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="/planner/agenda/{{request.user.pk}}">View Agenda</a>
                    </li>
                    <li class="nav-item"><i class="fas fa-clock    "></i>Events</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'planner:event-create' %}">Create Event</a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'planner:event-list' %}">Manage Events</a>
                                    </li>
                    <li class="nav-item"><i class="fas fa-cogs    "></i>Configuration</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'planner:config' pk=1 %}">Settings</a>
                                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 col-sm-12">
         <div class="dash-loading">
                <img src="{% static 'common_data/images/spinner.gif' %}" alt="">
            </div>
            <iframe src="/planner/async-dashboard/{{request.user.pk}}" class='dash-frame' frameborder="0"></iframe>

            <script src="{% static 'common_data/js/dash_script.js' %}"></script>
        </div>
    </div>
</div>

{% endblock content %}