{% extends "window.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/document-styles.css' %}">
{% endblock head %}
{% block heading %}

Authorize/Release Consumables Requisition

{% endblock heading %}

{% block actions %}


{% if not object.authorized_by %}
<button class="dropdown-item" onclick='toggleValidateForm()'>Authorize</button>
{% elif not object.released_by %}

<button class="dropdown-item" onclick='toggleValidateForm()'>Release</button>

{% else %}
<p class="dropdown-item">The item has already been released</p>
{% endif %}

{% endblock actions %}

{% block content %}
<script>
    function toggleValidateForm(){
        $('.dom-modal').toggle();
    }
</script>
<div class="dom-modal">
    <div class='dom-modal-content' id="validate-form">
        {% if not object.authorized_by %}
        <h5>Authorize</h5>
        <p>Authorizing Requisition as <b>{{request.user.employee}}</b>.</p>
        <a href="/login">Use someone else</a><br>
        <a class='btn btn-primary' href="{% url 'inventory:consumable-requisition-authorize' pk=object.pk %}" method="POST"> Submit</a>
            
        {% else %}
        <h5>Release</h5>
        <p>Releasing Requisition as <b>{{request.user.employee}}</b>.</p>
        <a href="/login">Use someone else</a><br>
        <a class='btn btn-primary' href="{% url 'inventory:consumable-requisition-release' pk=object.pk %}" method="POST"> Submit</a>
        
        {% endif %}
        
        <button class="btn btn-danger" onclick='toggleValidateForm()'>Cancel</button>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">#{{object.id|stringformat:"06d"}}</h4>
                    <p class="card-text">{{object.date}}</p>
                    <p class="card-text">Department: {{object.department}}</p>
                    <p class="card-text">Reference: {{object.reference}}</p>
                    <p class="card-text">Requested By: {{object.requested_by}}</p>
                    <hr class="my-2">
                    <h4 style='opacity:0.7'>Status</h4>
                    <ul>
                        <li>Authorized by: {{object.authorized_by}}</li>
                        <li>Released: {{object.released_by}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">

            <table class="table table-sm  table-hover ">
                <thead>
                    <tr class="bg-primary">
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in object.consumablesrequisitionline_set.all %}
                    <tr>
                        <td>{{line.pk}}</td>
                        <td>{{line.consumable}}</td>
                        <td>{{line.unit}}</td>
                        <td>{{line.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}