{% extends "window.html" %}
{% block heading %}
Consumable Requisition Detail
{% endblock heading %}

{% block content %}
<br>
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <p>{{object.date}}</p>
                    <p><i class="fas fa-warehouse    "></i> {{object.warehouse}}</p>
                    <p>Department: {{object.department}}</p>
                    <p>Reference: {{object.reference}}</p>
                    <hr>
                    <h5 style='opacity:0.7'>Personnel chain</h5>
                    <ul>
                        <li>Requested: {{object.requested_by}}</li>
                    <li>Authorized: {{object.authorized_by}}</li>
                    <li>Released: {{object.released_by}}</li>
                    </ul>
                    

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <hr class="my-4" />
            <table class="table table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>Item</th>
                    <th>Unit</th>
                    <th>Requested Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for line in object.consumablesrequisitionline_set.all %}
                    <tr>
                        <td>{{line.consumable}}</td>
                        <td>{{line.unit}}</td>
                        <td>{{line.quantity}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</form>

{% endblock %}