{% load accounting %}
<table id="page-layout"  style="width:100%;" >
    <tbody>
        <tr>
            <td colspan="2" style='vertical-align:top;'>
                {% include "invoicing/invoice/credit_note/header.html" %}
            </td>
        </tr>
        <tr>
            <td colspan="2" style='vertical-align:top;'>
                {% for page in pages %}
                <table class='simple-content' style="width:100%" height='500' >
                    <thead>
                        <tr>
                            <td style="width:80%">Description</td>
                            <td>Subtotal</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page %}
                        <tr>
                            <td>{{item}}</td>
                            <td>{{item.returned_value | floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                        <tr style="height:100%">
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    {% if not page.has_next %}
                    <tfoot>
                        <tr>
                            <td>
                                <b>SubTotal:</b>
                            </td>
                            <td>{{object.subtotal | floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Tax Due :</b>
                            </td>
                            <td>{{object.tax_amount | floatformat:2 }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <b>Total:</b>
                            </td>
                            <td>{{object.total | active_currency }}</td>
                        </tr>
                    </tfoot>
                </table>
                <p>{{page}}</p>
                {% if page.has_next %}
                <p class="eop"></p>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% include "common_data/common/comments.html" %}
            </td>
        </tr>
    </tbody>
</table>