.button {
    min-width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    border-radius: 3px;
    border: 1px solid #999;
}

.btn-group .button {
    width: 50%;
    min-width: 50%;
}



.button p:last-child, .button p>span {
    color: #777;
}



.button p:first-child {
    font-weight: 500;
    color: black;
}

.button:hover {
    background-color: #23374d;
    color: white !important;
    border: 0px;
}

.action_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.action_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    width: 30%;
    min-width: 320px;
}