.day-wrapper {
    min-width: 150px;
    min-height: 100px;
    padding:5px;
}

.day-header {
    padding: 5px;
    background-color: slategray;
}

.eventBox {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    color:white;
}

.hiddenEventsList {
    width: 30vw;
    position: fixed;
    left: 30vw;
    top:20vh;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media(max-width: 720px){
    .mobileDay {
        width: 24vw !important;
        min-width: 24vw !important;
    }
}