{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% block heading %}
Create Storage Medium

{% endblock heading %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Storage Medium Form</h4>
                    {{form.errors}}
                    {% crispy form %}    
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle 'widgets' %}
{% endblock %}