{% extends "window.html" %}
{% block heading %}
Storage Medium Detail
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'inventory:storage-media-update' pk=object.id %}" role="button">Edit Storage Medium</a>
{% endblock actions %}
{% block content %}

        
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{object.name}}</h4>
                    {% if object.location %}
                    <p class="card-text">Location: {{object.location}}</p>
                    {% endif %}
                    <hr>
                    <p class="card-text"></p>{{object.description}}</p>
                    <hr>
                    <p class="card-text">Number of items: {{object.contents.count}}</p>
                    <h6>Dimensions</h6>
                    <p>Unit: {{object.unit}}</p>
                    <p>Length: {{object.length}}</p>
                    <p>Width: {{object.width}}</p>
                    <p>Height: {{object.height}}</p>
                    <p>Unit Capacity: {{object.capacity}}</p>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div style='max-height:500px;overflow-y:auto;'>
            <table class="table table-sm">
                <thead >
                    <tr class="bg-primary">
                        <th>Item Code</th>
                        <th style="width:80%">Name</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in object.contents %}
                    <tr>
                        <td>{{i.item.pk}}</td>
                        <td><a href="{{i.item.url}}">{{i.name}}</a></td>
                        <td>{{i.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}