{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block heading %}
Manage Storage Media

{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'inventory:storage-media-create' pk=pk %}" role="button">Create New</a>
{% if warehouse.storagemedia_set.all.count == 0 %}
<a class="dropdown-item" href="{% url 'inventory:generate-storage-media' warehouse=pk %}" role="button">Generate Storage System</a>
        {% endif %}

{% endblock actions %}
{% block content %}

        
        
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">Storage Media</h4>
                        <div id="storage-media-tree-view"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{% render_bundle "widgets" %}
{% endblock content %}