.event{
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;

}
.eventBox {
    color: white;
    padding:2px;
    box-sizing: border-box;
    font-size: .9rem;
    border-right: 1px solid white;
}

