.event{
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;

}
.eventBox {
    background-color: #23374d;
    color: white;
    padding:2px;
    box-sizing: border-box;
    font-size: .9rem;
    border-right: 1px solid white;
}

.eventBox:hover{
    color: #23374d;
    background-color: white;
    border: 1px solid #23374d;
}