.event{
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;
}

.event:hover {
    z-index: 1000!important;
}
.eventBox {
    color: white;
    padding:2px;
    box-sizing: border-box;
    font-size: .9rem;
    border: 1px solid white;
    border-radius: 5px;
}

