.miniTable {
    border: 1px solid white;
    margin: 5px auto;
    padding:5px;
    color: white;
}
.title{
    color: white;
    text-align: center;
}


@media(max-width: 720px){
    .calendar {
        display:none;
    }
}