{% extends "window.html" %}
{% block heading %}
Works Order
{% endblock heading %}
{% block actions %}
        <a class="dropdown-item" href="{% url 'services:work-order-create' pk=object.pk %}" role="button">Add Job</a>

{% endblock actions %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">            
                <div class="card accent-lg shadow">
                    <div class="card-body">
                        <h4 class="card-title">{{object.service}}</h4>
                        <p class="card-text">{{object.created}}</p>
                        <p class="card-text">Created By: {{object.created_by}}</p>
                        <p class="card-text">Status: {{object.status}}</p>

                        <hr>
                        <p class="card-text">{{object.description}}</p>
                        <br>
                        {% if object.invoice %}
                        <h5><a href="{% url 'invoicing:invoice-details' pk=object.invoice.pk %} ">Invoice #{{object.invoice.invoice_number |stringformat:"06d"}}</a></h5>
                        <p class="card-text">Due Date: {{object.invoice.due}}</p>
                        <p class="card-text">Customer: <a href=" {% url 'invoicing:customer-details' pk=object.invoice.customer.pk %} ">{{object.invoice.customer}}</a></p>
                        <p class="card-text">Sales Representative: <a href=" {% url 'employees:employee-detail' pk=object.invoice.salesperson.employee.pk %} ">{{object.invoice.salesperson}}</a></p>
                        {% endif %}


                    </div>
                </div>
                <div class="card" style="min-width:66%;">
                    <div class="card-body">
                        <h4 class="card-title">Jobs</h4>
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-primary">
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>No. Employees</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wo in object.work_orders %}
                                <tr>
                                    <td><a href="{% url 'services:work-order-detail' pk=wo.pk %}" class="btn btn-primary">{{wo.pk}}</a></td>
                                    <td>{{wo.status}}</td>
                                    <td>{{wo.number_of_employees}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}