{% extends "window.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="shadow card primary text-white">
                <div class="card-body">
                    <h4 class="card-title">Service Portal Login</h4>
                    <form action="" method="POST">
                    {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

{% endblock %}