{% extends "window.html" %}

{% block heading %}
Create Quotation
{% endblock heading %}
{% load render_bundle from webpack_loader %}


{% block content %}
<style>
    tr,
    td,
    th {
        border: 0px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 shadow white">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.errors}}
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label>Customer</label>
                        <div>{{form.customer}}</div>
                        <br>
                        <label>Quoted By</label>
                        <div>{{form.salesperson}}{% csrf_token %}</div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label>Quotation Date</label>
                        <div>{{form.quotation_date}}</div>
                        <br>                                
                        <label>Quotation Valid Until</label>
                        <div>{{form.quotation_valid}}</div>
                        <br>
                        <label>Currency</label>
                        <div>{{form.currency}}</div>
                        <br>
                        <label>Exchange Rate</label>
                        <div>{{form.exchange_rate}}</div>
                        
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <input type="hidden" name="status" value="quotation">
                        <label for="id_recipient" class="col-form-label  requiredField">
                            Quotation Lines</label>
                        <div id="invoice-table"></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <label for="id_recipient"
                            class="col-form-label  requiredField">
                            Terms and Comments</label>
                        <div class="{{style}}-footer-cell">
                            <div class="{{style}}-footer-cell-heading">
                                Terms:
                            </div>
                            <div class="{{style}}-footer-cell-contents">
                                {{form.terms}}
                            </div>
                        </div>
                        <div class="{{style}}-footer-cell">
                            <div class="{{style}}-footer-cell-heading">
                                Comments:
                            </div>
                            <div class="{{style}}-footer-cell-contents">
                                {{form.comments}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div style='display:flex;justify-content: flex-end;'>
                    <button class="btn btn-info " type="submit">
                        Submit
                    </button>
                </div>
            </form>
            {% render_bundle 'invoicing' %}
        </div>
    </div>
</div>

{% endblock  %}