{% extends 'common_data/page/pdf_page.html' %}
{% block pre_page %}
<section id='title'>
    <div id='title-text'>Bill</div>
    <div id='action-icon dropdown'>

        <button class="btn btn-block primary " id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </button>

        <div class="dropdown-menu" aria-labelledby="triggerId">
           <a href="{% url 'accounting:bill-pdf' pk=object.pk %} " class="dropdown-item"><i class="fas fa-file-pdf    "></i> Generate PDF</a>
           <a href="{% url 'accounting:create-bill-payment' pk=object.pk %}" class="dropdown-item"><i class="fas fa-edit    "></i>  Create Payment</a>
           <a href="{% url 'accounting:bill-payments-details' pk=object.pk %}" class="dropdown-item"><i class="fa fa-list-ul" aria-hidden="true"></i> Manage Payments</a>
        </div>
    </div>
</section>
{% endblock  %}


{% block page_contents %}
{% include 'accounting/bill/header.html' %}
<table class="table table-sm simple-content">
    <thead>
        <tr class="">
            <th>Expense Category</th>
            <th style='width:60%;'>Memo</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for line in object.billline_set.all %}
            <tr>
                <td>{{line.expense.category_string}}</td>
                <td>{{line.expense.description}}</td>
                <td>{{line.expense.amount}}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan='2'>Total</th>
            <td>{{object.total}}</td>
        </tr>
    </tfoot>
</table>

{% if object.memo %}
<div class="footer-cel">
    <div class="footer-cell-heading">Memo</div>
    <div class="footer-cell-contents">
        {{object.memo}}
    </div>
</div>
{% endif %}
{% endblock  %}