{% extends 'common_data/common/document_header.html' %}

{% block title %}
Bill
{% endblock title %}

{% block left_content %}

<table>
    <tbody>
        <tr>
            <td>Bill #:</td>
            <td>{{object.id | stringformat:"06d"}}</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{object.date}}</td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td>{{object.due}}</td>
        </tr>
        <tr>
            <td>Reference:</td>
            <td>{{object.reference}}</td>
        </tr>
    </tbody>
</table>
{% include "common_data/common/supplier_data.html" %}

{% endblock left_content %}

{% block right_content %}
{% include "common_data/common/business.html" %}

{% endblock right_content %}

{% block lower_left %}

{% endblock lower_left %}


{% block lower_center %}
{% endblock lower_center %}
