{% extends "window.html" %}
{% block heading %}
Event Details
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href="{% url 'planner:event-update' pk=object.pk %}" role="button">Edit</a>
        <a class="dropdown-item" href="/calendar/day/{{date_string}}" role="button">View In Calendar</a>
        <a class="dropdown-item" href="{% url 'planner:event-complete' pk=object.pk %}">Complete</a>
        <a class="dropdown-item" href="{% url 'planner:event-delete' pk=object.pk %}">Delete</a>

{% endblock actions %}

 {% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow accent-left-lg" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4 class="card-title">{{object.label}}</h4>
                            <p> <i class="fas fa-calendar-alt    "></i> {{object.date}}</p>
                            <p><i class="fas fa-user    "></i> {{object.owner}}</p>
                            <p>{% if object.completed %} <i class="fas fa-flag-checkered    "></i> Completed on {{object.completion_time}} {% else %} <i class="fas fa-flag    "></i> In Progress {% endif %}</p>
                            <p> <i class="fas fa-exclamation-circle    "></i> {{object.priority}}</p>
                            <p><i class="fas fa-clock    "></i> {{object.start_time}} <i class="fas fa-arrow-right    "></i> {{object.end_time}} </p>
                            {% if object.repeat_active %}
                                <p>Repeat: {{object.repeat_string}}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-6 accent-left-md">
                            <i class="fas fa-users fa-3x   "></i>
                            <ul >
                                {% if object.participants.all.count == 0 %}
                                <li>No participants for this event</li>
                                {% endif %}
                                {% for p in object.participants.all %}
                                <li><a href="{{p.link}}">{{p}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <hr class="my-2">
                    <p class="card-text" style='margin:5px;'>
                            {{object.description}}
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}