{% extends "window.html" %}
{% block heading %}
Event Details
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href="{% url 'planner:event-update' pk=object.pk %}" role="button">Edit</a>
        <a class="dropdown-item" href="/calendar/day/{{date_string}}" role="button">View In Calendar</a>
        <a class="dropdown-item" href="{% url 'planner:event-complete' pk=object.pk %}">Complete</a>
        <a class="dropdown-item" href="{% url 'planner:event-delete' pk=object.pk %}">Delete</a>

{% endblock actions %}

 {% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow" >
                <div class="card-body">
                    <h4 class="card-title">{{object.label}}</h4>
                    <p>{{object.date}}</p>
                    <p>Author: {{object.owner}}</p>
                    <p>{% if object.completed %} Completed on {{object.completion_time}} {% else %} In Progress {% endif %}</p>
                    <p>Priority:{{object.priority}}</p>
                    <p>Start: {{object.start_time}}</p>
                    <p>End: {{object.end_time}}</p>
                    {% if object.repeat_active %}
                        <p>Repeat: {{object.repeat_string}}</p>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card bg-info text-white">
                <div class="card-body" style='display:flex;flex-direction:row'>
                    <i class="fas fa-file fa-3x" aria-hidden="true"></i>
                    <p class="card-text" style='margin:5px;'>
                            {{object.description}}
                    </p>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body" style='display:flex;flex-direction:row'>
                    <i class="fas fa-user fa-3x   "></i>
                    <ul >
                        {% if object.participants.all.count == 0 %}
                        <li>No participants for this event</li>
                        {% endif %}
                        {% for p in object.participants.all %}
                        <li><a href="{{p.link}}">{{p}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>        
        </div>
        <div class="col-sm-2"></div>
    </div>
    {% endblock content %}