{% extends "window.html" %}
{% block heading %}
Shift Schedule
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="/employees/shift-schedule/" > <i class="fas fa-edit    "></i> Edit</a>
{% endblock actions %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <div class="card">
            <div class="card-body bg-primary text-white">
                <h4 class="card-title">{{object.name}}</h4>
                <p class="card-text">Number of Shifts: {{object.shifts.count}}</p>
                <p class="card-text">Supervisors: 
                    <ul>
                        {% for shift in object.shifts %}
                        <li>{{shift.shift.supervisor}}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        </div>
        <div class="col-sm-8"></div>
    </div>
        <hr class="my-4" />

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Shift</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shift in object.shifts %}
                        <tr>
                            <td>{{shift.shift}}</td>
                            <td>{{shift.start_time}}</td>
                            <td>{{shift.end_time}}</td>
                            <td>
                                {% if shift.monday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.tuesday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.wednesday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.thursday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.friday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.saturday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shift.sunday %} 
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}