{% extends 'base.html' %}

{% block window %}
{% load accounting %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="dash-container">
                <div class="bg-primary text-white dashbox">
                    <h4># Employees:</h4>
                    <h3>{{employees}}</h3>
                </div>
                <div class="dashbox white-on-blue">
                    <h4>Pending Payslips:</h4>
                    <h3>{{slips}}</h3>
                </div>
                <div class="bg-primary text-white dashbox">
                    <h4>Total Pending Leave days:</h4>
                    <h3>{{leaves}}</h3>
                </div>
                <div class="bg-primary text-white dashbox">
                    <h4>Unpaid Wages:</h4>
                    <h3>{{unpaid_wages | active_currency}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="dash-visualization">
                <h4>Employee Roles</h4>
                {% autoescape off %}
                    {{graph}}
                    {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock window %}