{% extends "window.html" %}
{% block heading %}
<i class="fas fa-users    "></i> Employees
{% endblock heading %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class='navbar-nav dashboard-nav'>
                    <li class="nav-item"><i class="fas fa-puzzle-piece"></i> Payroll</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:list-pay-slips' %}"> Pay Slips</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'employees:timesheet-list' %}"> Time Sheets</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:list-pay-grades' %}"> Pay Grades</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:payroll-tax-list' %}"> Payroll
                            Taxes</a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:deductions-list' %}">Deductions</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:allowances-list' %}">Benefits</a><a
                            href="{% url 'employees:commissions-list' %}">Commission Rules</a></li>
                    <li class="nav-item"><i class="fas fa-users"></i> Employees</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:list-employees' %}">
                            Employees
                        </a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:department-list' %}"> Departments</a>

                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:contract-list' %}">Contracts</a>
                    </li>
                    <li class="nav-item"><i class="fas fa-chart-bar"></i> Reports</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:employee-attendance' %}">Employee Attendance</a>
                    </li>

                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:leave-report' %}">Leave Schedule Report</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:payroll-report-form' %}">Payroll
                            Report</a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:zimra-p2-report-form' %}">Zimra P2
                            Report</a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:nssa-p4-report-form' %}">NSSA P4
                            Report</a></li>
                    <li class="nav-item"><i class="fas fa-calendar"></i> Leave Days</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:leave-list' %}">Leave Day Management</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{{calendar_url}}">Leave Calendar</a>
                    </li>
                    <li class="nav-item"><i class="fas fa-user-cog"></i> Employee Roles</li>
                    <li class="list-group-item hvr-grow">
                        <a class="card-link" href="{% url 'inventory:inventory-controller-list' %}">
                            Inventory Controllers</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a class="card-link" href="{% url 'invoicing:sales-reps-list' %}"> Sales
                            Representatives</a>
                    </li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'accounting:bookkeeper-list' %}">
                            Bookkeepers </a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'services:service-person-list' %}">
                            Service Employees </a></li>
                    <li class="list-group-item hvr-grow"><a href="{% url 'employees:payroll-officer-list' %}">
                            Payroll Officers </a></li>
                    <li class="nav-item"><i class="fas fa-sliders-h"></i> Configuration</li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:config' pk=1 %}">Settings</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:payroll-date-list' %}">Manage Payroll Schedule</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'employees:manual-config' %}">Run
                            Manual Payroll</a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 col-sm-12">
            <iframe src="/employees/async-dashboard/" class='dash-frame' frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock content %}