{% extends "window.html" %}
{% block heading %}
HR Officer Details
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'employees:payroll-officer-update' pk=object.pk %}" role="button"> <i class="fas fa-edit    "></i> Edit</a>
{% endblock actions %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow accent-left-lg">
                <div class="card-body">
                    <h4 class="card-title">{{object.employee}}</h4>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Permission</th>
                                <th>Permitted?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Can register new employees?</td>
                                <td>{%if object.can_register_new_employees %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                       <i class="fas fa-times"></i>
                                    {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Can Log time sheets?</td>
                                <td>{%if object.can_log_timesheets %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                       <i class="fas fa-times"></i>
                                    {% endif %}</td>
                            </tr>
                            {% comment %} <tr>
                                <td>Can create/update payroll elements?</td>
                                <td>{%if object.can_create_payroll_elements %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                       <i class="fas fa-times"></i>
                                    {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Can run payroll?</td>
                                <td>{%if object.can_run_payroll %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                       <i class="fas fa-times"></i>
                                    {% endif %}</td>
                            </tr> {% endcomment %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}