{% extends 'base.html' %}
{% block window %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="dash-container">
                <div class="dashbox" style='border-top: 15px solid #7FFF00;'>
                    <h4>Sales</h4>
                    <h3>{{sales_to_date |floatformat:2}}</h3>
                    <i class="fas fa-dollar-sign dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox"  style='border-top: 15px solid cadetblue;'>
                    <h4>Active Customers: </h4>
                    <h3>{{customers}}</h3>
                    <i class="fas fa-users dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox"  style='border-top: 15px solid crimson;'>
                    <h4>Unpaid Invoices: </h4>
                    <h3>{{outstanding_invoices}}</h3>
                    <i class="fas fa-file dash-icon fa-7x" ></i>

                </div>
            </div>
        </div>
    </div>


    <div class='dash-visualization'>
        <h4>Sales for the last 30 days</h4>
        <div class="dash-v-graph">
            {% autoescape off %}
            {{graph}}
            {% endautoescape %}
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

{% endblock window %}