{% extends "window.html" %} {% load static %} {% load crispy_forms_tags %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} 
{% block heading %}
Invoicing Configuration
{% endblock heading %}
{% block content %}
<div class="container" id='scroll-frame'>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}