.sideBar {
    background-color: #23374d;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 600px) {
    .sideBar {
        height: 10vh;
        flex-direction: row;
    }
}