{% extends 'window.html' %} 
{% block heading %}
Consumable Detail
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'inventory:consumable-create' %}">
                    <i class="fas fa-plus"></i> Add New Consumable
                </a>
                <a class="dropdown-item" href="{% url 'inventory:consumable-update'  pk=object.pk  %}">
                    <i class="fas fa-edit"></i> Update
                </a>
{% endblock actions %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="nav nav-tabs nav-stacked">
                <a href="#basic" class="nav-link active" data-toggle='tab'>Basic</a>
                <a href="#locations" class="nav-link " data-toggle='tab'>Locations</a>
            </nav>

            <div class="tab-content panel-body">
                <div class="tab-pane active" id="basic">
                <br>
                    <div class="container">
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="card shadow">
                                    <h4 class="card-title">{{object.name}}</h4>
                                    <div class="card-body">
                                        <div class='flex-centered'>
                                            {% if object.image %}

                                            <img class="img img-thumbnail" width="300" height="300"
                                                src="{{object.image.url}}" alt="Item Image" />
                                            {% else %}
                                            <i class="img-thumbnail fas fa-image fa-3x"></i>
                                            <p>No image loaded.</p>
                                            {% endif %}
                                        </div>
                                        <p class="card-text">ID: {{object.id}}</p>
                                        <p class="card-text">Category: {{object.category}}</p>
                                        <p class="card-text">Purchase Price: {{object.unit_purchase_price}}</p>
                                        <hr>
                                        <p class="card-text"> {{object.description}}</p>
                                    </div>
                                </div>
                            
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="tab-pane" id="locations">
                <br>
                    <div class="container">
                        <div class="row">
                        <div class="col-sm-4">
                            <div class="card bg-primary text-white">
                                <div class="card-header">
                                    <h4 class="card-title">Supplier </h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Name: {{object.supplier}}</p>
                                    <p class="card-text">Address: {{object.supplier.physical_address}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Stock</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Quantity: {{object.quantity}}</p>
                                    <p class="card-text">Minimum Stock Level: {{object.minimum_order_level}}</p>
                                    <p class="card-text">Maximum Stock Level: {{object.maximum_stock_level}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="card col-sm-8">
                            <div class="card-header">
                                <h4 class="card-title">Product Locations</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-default">
                                    <thead>
                                        <th>Warehouse</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                    </thead>
                                    <tbody style="max-height:200px; overflow-y:auto;">
                                        {% for l in object.locations %}
                                        <tr>
                                            <td><a href=" {% url 'inventory:warehouse-detail' pk=l.warehouse.pk %} ">{{l.warehouse}}</a></td>
                                            <td><a
                                                    href="{% url 'inventory:storage-media-detail' pk=l.location.pk %}">{{l.location}}</a></td>
                                            <td>{{l.quantity}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}