{% extends 'base.html' %}

{% block window %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="dash-container" >
                <div class=" dashbox" style='border-top: 15px solid cadetblue;'>
                    <h4># Offered Services</h4>
                    <h3>{{services}}</h3>
                    <i class="fas fa-concierge-bell dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox" style='border-top: 15px solid crimson;'>
                    <h4># Open Jobs</h4>
                    <h3>{{wo_open}}</h3>
                    <i class="fas fa-cogs dash-icon fa-7x" ></i>

                </div>
                <div class="dashbox" style='border-top: 15px solid limegreen;'>
                    <h4># Jobs Completed</h4>
                    <h3>{{wo_closed}}</h3>
                    <i class="fas fa-file-invoice dash-icon fa-7x" ></i>

                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <hr class="my-4">
            {% autoescape off %}
            {{graph}}
            {% endautoescape %}
        </div>
    </div>
</div>

{% endblock window %}