{% extends "window.html" %} 
{% block heading %}
<i class=" fas fa-toolbox"></i> Services Dashboard
{% endblock heading %}
{% block actions %}
 <a href="{% url 'services:service-portal' %}" class="dropdown-item"> <i class="fas fa-users"></i> Service Portal</a>
{% endblock actions %}
{% block content %}
</div>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-3">
            <nav class="nav flex-column primary" style='padding:5px;'>
                <ul class="navbar-nav dashboard-nav">
                    <li class="nav-item"><i class="fas fa-toolbox"></i> Listed Services</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:create-service' %}">Create Service</a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:list-services' %}">Manage Services</a>
                    <li class="nav-item"><i class="fas fa-user-tie"></i> WorkOrders</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:work-order-request-list' %}">
                                            Manage Work Order Requests
                                        </a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:work-order-list' %}">
                                            List and Manage Work Orders
                                        </a>
                                    </li>
                    <li class="nav-item"><i class="fas fa-file-signature"></i> Requisitions</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:equipment-requisition-create' %}">Create Equipment
                                            Requistion</a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:consumable-requisition-create' %}">Create Consumable
                                            Requistion</a>
                                    </li>
                    <li class="nav-item"><i class="fas fa-tasks"></i> Service Procedures</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:create-procedure' %}">Create New Service Procedure</a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:list-procedures' %}">Manage Service Procedures</a>
                                    </li>
                    <li class="nav-item"><i class="fas fa-users"></i> Organization</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:category-list' %}">
                                            List and Manage Service Categories
                                        </a>
                                    </li>
                                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:team-list' %}">
                                            List and Manage Service Teams
                                        </a>
                                    </li>
                    <li class="nav-item"><i class="fas fa-chart-bar"></i> Reports</li>
                    <li class="list-group-item hvr-grow">
                                        <a href="{% url 'services:reports-job-profitability-form' %}" >Job Profitability Report</a>
                                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'services:reports-service-person-utilization-form' %}" >Service
                                            Personnel utilization report</a>
                    </li>
                    <li class="list-group-item hvr-grow">
                        <a href="{% url 'services:reports-unbilled-costs-by-job-form' %}" >Unbilled Costs By Job report</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-md-9">
            <iframe src="/services/async-dashboard/" class='dash-frame' frameborder="0" ></iframe>
        </div>
    </div>
</div>
{% endblock content %}