{% extends "window.html" %} 
{% load accounting %}
{% block heading %}
Account Details

{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'accounting:account-update' pk=object.pk %}" role="button">Edit Details</a>
        <a class="dropdown-item" href="{% url 'accounting:account-report-form' pk=object.pk %}" role="button">Generate Report</a>

{% endblock actions %}

{% block content %}



<style>
    .bg-primary th, .bg-primary td {
        color:white;
    }
</style>

<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow accent-left-lg">
                <div class="card-body">
                <h4 class="card-title">{{object.name}}</h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th>ID:</th>
                                        <td>{{object.pk}}</td>
                                    </tr>
                                    <tr>
                                        <th>Balance:</th>
                                        <td>{{object.balance | accounting}}</td>
                                    </tr>
                                    <tr>
                                        <th>Type:</th>
                                        <td>{{object.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h5>Account Features:</h5>
                            <ul>
                                {% if object.bank_account %} <li>Bank Account</li>
                                {% endif %}
                                {% if object.control_account %}
                                <li>Control Account</li>
                                {% endif %}
                                {% if object.parent_account %}
                                    <li>Parent Account: {{object.parent_account}}</li>
                                {% endif %}
                                {% if object.children %}
                                    <li>Child Account(s):
                                        <ul>
                                        {% for c in object.children %}
                                            <li>{{c}}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <hr class="my-2">
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-6">
            <div style="border-right:2px solid black;border-top: 2px solid black;">
                <h4 style="text-align:center;">Credits</h4>
                <iframe class='sub-frame'  id="journal-frame"  frameborder="0" src="/accounting/account/{{object.pk}}/entry-list/credit">
                </iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div style="border-top: 2px solid black">
                <h4 style="text-align:center;">Debits</h4>
                <iframe class='sub-frame' frameborder="0"  id="journal-frame" src="/accounting/account/{{object.pk}}/entry-list/debit">
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
