{% extends 'window.html' %}
{% load accounting %}
{% load render_bundle from webpack_loader %}
{% block heading %}

Lead Details
{% endblock heading %}

{% block actions %}
<a class="dropdown-item" href=" {% url 'invoicing:update-lead' pk=object.pk %} "> <i class="fas fa-edit "></i> Update</a>
<a class="dropdown-item" href=" {% url 'invoicing:create-lead-task' pk=object.pk %} "> <i class="fas fa-plus    "></i> Add Task</a>
<a class="dropdown-item" href=" {% url 'invoicing:create-interaction' pk=object.pk %} "> <i class="fas fa-plus    "></i> Record Interaction</a>
<a class="dropdown-item" href=" {% url 'invoicing:create-contact' lead=object.pk %} "> <i class="fas fa-address-book    "></i> Add Contact</a>
<a class="dropdown-item" href=" {% url 'invoicing:create-lead'%} "> <i class="fas fa-plus    "></i> Create New Lead</a>
<a class="dropdown-item" href=" {% url 'invoicing:list-leads'%} "> <i class="fas fa-list-ul    "></i> View all Leads</a>
{% endblock actions %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card shadow accent-md">
                    <div class="card-body">
                        <h4>Status</h4>
                        <h2>{{object.status}}</h2>
                    </div>
                </div>
                <div class="card shadow accent-md">
                    <div class="card-body">
                        <h4>Opportunity</h4>
                        <h2>{{object.opportunity|active_currency}}</h2>
                    </div>
                </div>
                <div class="card shadow accent-md">
                    <div class="card-body">
                        <h4>Closing Probability</h4>
                        <h2>{{object.probability_of_sale}}%</h2>
                        <p><i class="fas fa-door-closed    "></i> {{object.projected_closing}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card shadow accent-lg">
                <h2>{{object.title}}</h2>
                <br>
                <p class="card-text">{{object.created}}</p>
                <p class="card-text"><i class="fas fa-user    "></i> {{object.owner}}</p>
                <p class="card-text"><i class="fas fa-users    "></i> {{object.team}}</p>
                <br>
                <h4>Contacts</h4>
                <ul>
                    {% for contact in object.contacts.all %}
                        <li style='list-style-type:none;'>
                            <a href=" {% url 'base:individual-detail' pk=contact.pk %} "><i class="fas fa-address-book" aria-hidden="true"></i> {{contact}}</a>
                        </li>
                    {% endfor %}
                </ul>
                


            </div>
        </div>
        <div class="col-md-8 col-sm-12">
        <nav class="nav nav-tabs">
            <a href="#tasks" class="nav-link active" data-toggle="tab">Tasks</a>
            <a href="#interactions" class="nav-link" data-toggle="tab">Interactions</a>
            <a href="#notes" class="nav-link" data-toggle="tab">Notes</a>
        </nav>
            <div class="tab-content panel-body">
                <div class="tab-pane active" id="tasks">
                    {% for task in object.task_set.all %}
                        <div class="card accent-left-lg" style='margin-bottom: 0.6rem;'>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4><a href="{% url 'invoicing:task-detail' pk=task.pk %}">{{task.title}}</a></h4>
                                        {{task.created}}
                                        <p class="card-text"><i class="fas fa-clock" aria-hidden="true"></i> {{task.due}}</p>
                                        <p class="card-text"><i class="fas fa-user" aria-hidden="true"></i> {{task.assigned}}</p>
                                        <div class="btn-group">
                                            {% if task.status != 'completed' %}
                                                <a href="{% url 'invoicing:complete-task' task=task.pk %}" class="btn btn-sm btn-primary">Complete</a>
                                            {% endif %}
                                                <a href="{% url 'invoicing:update-task' pk=task.pk %}" class="btn btn-sm btn-info">Edit</a>

                                            {% if task.event %}
                                            <a href=" {% url 'planner:event-detail' pk=task.event.pk %} " class="btn btn-sm">View Event</a>
                                        {% endif %}
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-6 accent-left-md">
                                        <h5>Status:</h5>
                                        <h3>{{task.status}}</h3>
                                        <hr>
                                        {{task.description}}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="interactions">
                       
                    {% for intr in object.interaction_set.all %}
                        <div class="card accent-left-lg" style='margin-bottom: 0.6rem;'>
                            <div class="card-body">
                                <h4><a href="{% url 'invoicing:interaction-detail' pk=intr.pk %}">{{intr.type}}</a></h4>
                                <p class="card-text"> <i class="fa fa-clock-o" aria-hidden="true"></i> <i>{{intr.timestamp}}</i></p>
                                <p class="card-text"> <i class="fa fa-address-book" aria-hidden="true"></i> {{intr.contact}}</p>
                                <p class="card-text">{{intr.description}}</p>
                                
                                <p class="card-text" style='text-align:right'> <i class="fas fa-user    "></i> - <b>{{intr.sales_representative}}</b> </p>
                            </div>
                        </div>
                            
                        
                    {% endfor %}
                

                </div>
                <div class="tab-pane" id="notes">
                {% csrf_token %}
                <div id="lead-notes"></div>
                </div>

            
        </div>
    </div>
</div>

{% render_bundle 'invoicing' %}
{% endblock content %}