{% extends 'window.html' %}
{% block heading %}
Product Detail
{% endblock heading %}
{% block actions %}
<a class="dropdown-item" href="{% url 'inventory:product-create' %}">
    <i class="fas fa-plus"></i> Create New Product
</a>
<a class="dropdown-item" href="{% url 'inventory:product-update'  pk=object.pk  %}">
    <i class="fas fa-edit"></i> Update
</a>
<a class="dropdown-item" href="{% url 'inventory:product-delete' pk=object.pk %}">
    <i class="fas fa-trash"></i> Delete
</a>
{% endblock actions %}
{% block content %}
{% load accounting %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <nav class="nav nav-tabs nav-stacked">
                <a class="nav-link active" href="#basic" data-toggle="tab">Basic</a>
                <a class="nav-link" href="#locations" data-toggle="tab">Stock</a>

            </nav>
            <div class="tab-content panel-body">
                <div class="tab-pane active" id="basic">
                <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="card shadow">
                                    <h4 class="card-title">{{object.name}}</h4>
                                    <div class="card-body">
                                        <div class='flex-centered'>
                                            {% if object.image %}

                                            <img class="img img-thumbnail" width="300" height="300"
                                                src="{{object.image.url}}" alt="Item Image" />
                                            {% else %}
                                            <i class="img-thumbnail fas fa-image fa-3x"></i>
                                            <p>No image loaded.</p>
                                            {% endif %}
                                        </div>
                                        <p class="card-text">ID: {{object.id}}</p>
                                        <p class="card-text">Category: {{object.category}}</p>
                                        <hr>
                                        <p class="card-text"> {{object.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="card shadow accent-lg">
                                    <h4 class="card-title">Pricing</h4>
                                    <div class="card-body">
                                        <p class="card-text">Purchased For:
                                            {{object.unit_purchase_price | active_currency}}
                                        </p>
                                        <p class="card-text">Unit Value: {{object.unit_value | active_currency}}</p>
                                        <p class="card-text">Sold At: {{object.unit_sales_price | active_currency}}</p>
                                        <p class="card-text">Stock Value: {{object.stock_value | active_currency}}</p>
                                        <p class="card-text">Tax: {{object.tax}}</p>
                                        <p class="card-text">Total Sales to date:
                                            {{object.sales_to_date | active_currency}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="tab-pane" id="locations">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title">Stock</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Stock Quantity: {{object.quantity}}</p>
                                <p class="card-text">Minimum Stock Level: {{object.minimum_order_level}}</p>
                                <p class="card-text">Maximum Stock Level: {{object.maximum_stock_level}}</p>

                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Supplier</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Name: {{object.supplier}}</p>
                                <p class="card-text">Address: {{object.supplier.physical_address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Locations</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <th>Warehouse</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                    </thead>
                                    <tbody style="max-height:200px; overflow-y:auto;">
                                        {% for l in object.locations %}
                                        <tr>
                                            <td><a href=" {% url 'inventory:warehouse-detail' pk=l.warehouse.pk %} ">{{l.warehouse}}</a></td>
                                            <td><a
                                                    href="{% url 'inventory:storage-media-detail' pk=l.location.pk %}">{{l.location}}</a></td>
                                            <td>{{l.quantity}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">

                            <div class="card-body">
                                {% autoescape off %}
                                {{graph}}
                                {{history}}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>
</div>
</div>




{% endblock content %}