{% extends "window.html" %} 
{% block heading %}
Individual Details
{% endblock  %}

{% block actions %}

<a class="dropdown-item" href="{% url 'base:individual-update' pk=object.pk %}" role="button">Edit</a>
{% endblock actions %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card shadow accent-lg">
                <div class="card-body">
                    <h4 class="card-title">{{object}}</h4>
                    <center>
                        {% if object.photo %}
                    <img src="{{object.photo.url}}" class="img-thumbnail" width="320" height="240" alt="Photo thumbnail">
                    {% else %}
                    <i class="fas fa-user fa-3x"></i>
                    {% endif %}
                    </center>
                    <br>
                    <p class="card-text">{{object.email}}</p>
                    <p class="card-text"><a>{{object.phone}}</a></p>
                </div>
            </div>
            <br>
            {% if object.organization %}
            <div class="card shadow accent-md">
                <div class="card-body">
                    <h4 class="card-title">Organization </h4>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>Legal Name</th>
                                <td><a href="{% url 'base:organization-detail' pk=object.organization.pk %}" class="tertiary-link">{{object.organization.legal_name}}</a></td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{object.organization.business_address}}</td>
                            </tr>
                            <tr>
                                <th>Website</th>
                                <td>
                                    <a href='http://{{object.organization.website}}' >{{object.organization.website}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Interactions</h4>
                    <table class="table table-sm">
                        <thead>
                            <tr class="bg-primary">
                                <td>Date</td>
                                <td>Activity</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for intr in object.interaction_set.all %}
                            <tr>
                                <td >{{intr.timestamp.date}}</td>
                                <td >{{intr.description|truncatechars:80}}</td>
                                <td style='text-align:center;' ><a href=" {% url 'invoicing:interaction-detail' pk=intr.pk %} "><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}